Repository ufersa/plataforma-sabia, pull requests merged in 2020-09, with the labels that each got.

#360 Detalhamento de Tecnologia - Custos de Implantação
  cypress/e2e/web/createTechnology.js
  cypress/e2e/web/technologyDetails.js
  cypress/fixtures/technology.json
  packages/web/__tests__/pages/t/__snapshots__/index.js.snap
  packages/web/__tests__/pages/t/index.js
  packages/web/__tests__/pages/user/my-account/__snapshots__/index.js.snap
  packages/web/__tests__/pages/user/my-account/index.js
  packages/web/components/Authorization/InlineLogin.js
  packages/web/components/Authorization/NotAuthorized.js
  packages/web/components/Authorization/Protected.js
  packages/web/components/Authorization/__tests__/Protected.js
  packages/web/components/Authorization/__tests__/__snapshots__/Protected.js.snap
  packages/web/components/Authorization/index.js
  packages/web/components/Modal/ModalProvider.js
  packages/web/components/Technology/Details/Header.js
  packages/web/components/Technology/Details/List.js
  packages/web/components/Technology/Details/Section.js
  packages/web/components/Technology/Details/Tables/Costs.js
  packages/web/components/Technology/Details/Tables/Responsibles.js
  packages/web/components/Technology/Details/Tables/index.js
  packages/web/components/Technology/Details/Tabs.js
  packages/web/components/Technology/TechnologyProvider.js
  packages/web/components/TechnologyForm/MapAndAttachments/index.js
  packages/web/components/TechnologyForm/Review/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/Review/__tests__/index.js
  packages/web/components/TechnologyForm/Review/index.js
  packages/web/pages/t/[technology]/index.js
  packages/web/pages/technology/[id]/edit.js
  packages/web/utils/technology.js
Labels: WEB, comp:technologies

#371 Detalhamento de Tecnologias - Anexos/Documentos
  cypress/e2e/web/technologyDetails.js
  packages/web/__tests__/pages/t/__snapshots__/index.js.snap
  packages/web/__tests__/pages/t/index.js
  packages/web/components/Price/index.js
  packages/web/components/Technology/Details/List.js
  packages/web/components/Technology/Details/Tabs.js
  packages/web/components/Technology/Details/TextValue.js
  packages/web/components/TechnologyForm/MapAndAttachments/index.js
  packages/web/components/TechnologyForm/Review/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/Review/__tests__/index.js
  packages/web/components/TechnologyForm/Review/index.js
  packages/web/pages/t/[technology]/index.js
  packages/web/pages/technology/[id]/edit.js
  packages/web/services/__tests__/technology.js
  packages/web/services/technology.js
  packages/web/utils/technology.js
Labels: WEB, comp:technologies, complexity:easy

#340 Documentation update
  .all-contributorsrc
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  package.json
  packages/admin/README.md
  packages/api/README.md
  packages/api/package-lock.json
  packages/api/package.json
  packages/web/README.md
Labels: documentation

#373 Detalhamento de Tecnologias - Relatos de Experiência
  cypress/e2e/web/technologyDetails.js
  cypress/fixtures/technology.json
  packages/api/app/Controllers/Http/TechnologyController.js
  packages/api/app/Middleware/HandleParam.js
  packages/api/app/Models/Technology.js
  packages/web/__tests__/pages/t/__snapshots__/index.js.snap
  packages/web/__tests__/pages/t/index.js
  packages/web/components/Card/Card.js
  packages/web/components/Card/Likes/index.js
  packages/web/components/Card/Likes/styles.js
  packages/web/components/Loading/Spinner.js
  packages/web/components/Loading/Wrapper.js
  packages/web/components/Loading/__tests__/__snapshots__/index.js.snap
  packages/web/components/Loading/__tests__/index.js
  packages/web/components/Loading/index.js
  packages/web/components/Loading/styles.js
  packages/web/components/Rating/__tests__/__snapshots__/index.js.snap
  packages/web/components/Rating/__tests__/index.js
  packages/web/components/Rating/index.js
  packages/web/components/Rating/styles.js
  packages/web/components/Technology/Details/Header.js
  packages/web/components/Technology/Details/List.js
  packages/web/components/Technology/Details/Section.js
  packages/web/components/Technology/Details/Tabs.js
  packages/web/components/Technology/Details/Tabs/About.js
  packages/web/components/Technology/Details/Tabs/Attachments.js
  packages/web/components/Technology/Details/Tabs/Costs.js
  packages/web/components/Technology/Details/Tabs/Description.js
  packages/web/components/Technology/Details/Tabs/Review/index.js
  packages/web/components/Technology/Details/Tabs/Review/styles.js
  packages/web/components/Technology/Details/Tabs/index.js
  packages/web/components/TechnologyForm/Review/__tests__/__snapshots__/index.js.snap
  packages/web/components/Toast/__tests__/__snapshots__/index.js.snap
  packages/web/components/Toast/__tests__/index.js
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/pages/t/[technology]/index.js
  packages/web/services/__tests__/technology.js
  packages/web/services/technology.js
  packages/web/styles/theme.js
  packages/web/utils/technology.js
Labels: WEB, comp:technologies

#413 Add contributors to README
  .all-contributorsrc
  README.md
Labels: documentation, enhancement

#414 Update tooltip behavior and info presentation
  cypress/e2e/web/createTechnology.js
  packages/web/components/Form/FormWizard.js
  packages/web/components/Form/Help.js
  packages/web/components/Form/HelpModal.js
  packages/web/components/Form/InputField.js
  packages/web/components/Form/Repeater.js
  packages/web/components/Form/SelectField.js
  packages/web/components/Form/SwitchField.js
  packages/web/components/Form/TextField.js
  packages/web/components/Form/__tests__/__snapshots__/Fields.js.snap
  packages/web/components/TechnologyForm/AboutTechnology.js
  packages/web/components/TechnologyForm/Costs/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/Costs/index.js
  packages/web/components/TechnologyForm/Details.js
  packages/web/components/TechnologyForm/Responsible/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/Responsible/index.js
  packages/web/package-lock.json
  packages/web/package.json
Labels: WEB, enhancement

#433 Detalhamento de Tecnologia - Compartilhar Tecnologia
  cypress/e2e/web/technologyDetails.js
  packages/web/__tests__/pages/t/__snapshots__/index.js.snap
  packages/web/__tests__/pages/user/my-account/__snapshots__/index.js.snap
  packages/web/components/Authorization/__tests__/__snapshots__/Protected.js.snap
  packages/web/components/Card/Likes/styles.js
  packages/web/components/Card/Share/__tests__/__snapshots__/index.js.snap
  packages/web/components/Card/Share/__tests__/index.js
  packages/web/components/Card/Share/index.js
  packages/web/components/Card/Share/styles.js
  packages/web/components/Card/index.js
  packages/web/components/Form/InputField.js
  packages/web/components/Modal/ModalProvider.js
  packages/web/components/Modal/ShareModal/index.js
  packages/web/components/Modal/ShareModal/styles.js
  packages/web/components/Modal/styles.js
  packages/web/components/Technology/Details/Header.js
  packages/web/public/static/locales/en/common.json
  packages/web/public/static/locales/pt/common.json
Labels: WEB, comp:technologies

#438 Feature/tech carousel images
  cypress/e2e/web/technologyDetails.js
  packages/web/__tests__/pages/t/__snapshots__/index.js.snap
  packages/web/components/Technology/Details/Header.js
  packages/web/components/Technology/Details/ImagesCarousel/index.js
  packages/web/components/Technology/Details/ImagesCarousel/styles.js
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/setupTests.js
  packages/web/styles/global.js
  packages/web/styles/theme.js
Labels: WEB, enhancement

#446 Hotfix/web/tech install time
  packages/api/app/Validators/StoreTechnology.js
  packages/api/start/routes/technologies.js
  packages/web/components/TechnologyForm/Details.js
Labels: WEB, bug, comp:technologies

#372 Hotfix/web/storybook
  packages/web/.storybook/config.js
  packages/web/.storybook/main.js
  packages/web/.storybook/preview.js
  packages/web/.storybook/router-decorator.js
  packages/web/.storybook/theme-decorator.js
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/stories/Button.stories.js
  packages/web/stories/Form.stories.js
  packages/web/stories/TechnologyForm.stories.js
Labels: WEB, dependencies

#452 Feature/web/terms of use
  cypress/e2e/web/termsOfUse.js
  packages/web/components/Footer/Footer.js
  packages/web/components/TermsAndPolicies/styles.js
  packages/web/pages/terms-of-use.js
Labels: WEB, enhancement
