Repository ufersa/plataforma-sabia, pull requests merged in 2020-07, with the labels that each got.

#252 Feature/Web/Forgot Password
  cypress/e2e/util/technologyForm.js
  cypress/e2e/web/resetPassword.js
  packages/api/.env.example
  packages/api/app/Controllers/Http/AuthController.js
  packages/api/resources/views/emails/forgot-password.edge
  packages/api/resources/views/emails/reset-password.edge
  packages/web/components/Modal/ForgotPasswordModal/index.js
  packages/web/components/Modal/ForgotPasswordModal/styles.js
  packages/web/components/Modal/LoginModal/index.js
  packages/web/components/Modal/ModalProvider.js
  packages/web/components/User/UserProvider.js
  packages/web/pages/auth/reset-password.js
  packages/web/public/static/locales/en/common.json
  packages/web/public/static/locales/pt/common.json
  packages/web/services/__tests__/auth.js
  packages/web/services/auth.js
Labels: WEB, comp:auth, complexity:easy, enhancement

#284 Add slug test
  packages/api/app/Utils/slugify.js
  packages/api/database/factory.js
  packages/api/test/functional/technology.spec.js
Labels: API

#275 Feature/my profile
  cypress/e2e/web/updateUser.js
  cypress/fixtures/.gitkeep
  cypress/fixtures/user.json
  packages/api/app/Controllers/Http/UserController.js
  packages/api/resources/locales/en/error.json
  packages/web/components/Common/Layout.js
  packages/web/components/User/UserProvider.js
  packages/web/components/User/__tests__/UserProvider.js
  packages/web/components/User/index.js
  packages/web/components/UserProfile/UserProfile.js
  packages/web/hooks/__tests__/useAuth.js
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/pages/_app.js
  packages/web/pages/user/my-account/index.js
  packages/web/pages/user/my-account/technologies.js
  packages/web/public/static/locales/en/account.json
  packages/web/public/static/locales/en/profile.json
  packages/web/public/static/locales/pt/account.json
  packages/web/public/static/locales/pt/profile.json
  packages/web/services/__tests__/user.js
  packages/web/services/user.js
Labels: WEB, comp:users

#276 Feature/Web/Recent Solutions (Homepage)
  cypress/e2e/web/technologies.js
  packages/api/app/Controllers/Http/TechnologyController.js
  packages/api/app/Models/Technology.js
  packages/web/components/Card/Card.js
  packages/web/components/TechnologiesSection/TechnologiesSection.js
  packages/web/pages/index.js
  packages/web/public/card-image.jpg
  packages/web/public/card-image2.jpg
  packages/web/public/card-image3.jpg
  packages/web/public/card-image4.jpg
  packages/web/services/__tests__/technology.js
  packages/web/services/technology.js
  packages/web/stories/Card.stories.js
  packages/web/stories/utils/fakeData.js
Labels: WEB, comp:technologies, enhancement

#291 Feature/web/responsive search
  packages/web/components/Algolia/clearFiltersButton.js
  packages/web/components/Algolia/clearRefinements.js
  packages/web/components/Algolia/index.js
  packages/web/components/Algolia/panel.js
  packages/web/components/Algolia/refinementList.js
  packages/web/components/Algolia/resultsButton.js
  packages/web/components/Algolia/stats.js
  packages/web/components/Algolia/toggleRefinement.js
  packages/web/components/Button/Button.js
  packages/web/components/Button/styles.js
  packages/web/components/Card/styles.js
  packages/web/components/Common/Layout.js
  packages/web/components/Link/Link.js
  packages/web/components/MainSearch/MainSearch.js
  packages/web/components/MainSearch/styles.js
  packages/web/components/Mobile/index.js
  packages/web/components/Mobile/mobileFilterButton.js
  packages/web/components/TechnologiesSection/styles.js
  packages/web/components/UserProfile/UserProfile.js
  packages/web/components/UserProfile/styles.js
  packages/web/pages/user/my-account/index.js
  packages/web/public/static/locales/en/search.json
  packages/web/public/static/locales/pt/search.json
  packages/web/utils/helper.js
Labels: WEB, comp:search

#310 Email Change
  packages/api/app/Controllers/Http/AppController.js
  packages/api/app/Controllers/Http/AuthController.js
  packages/api/app/Controllers/Http/UserController.js
  packages/api/app/Exceptions/Handler.js
  packages/api/app/Models/TechnologyReview.js
  packages/api/app/Models/Token.js
  packages/api/app/Models/User.js
  packages/api/app/Validators/ChangeUserEmail.js
  packages/api/app/Validators/ConfirmNewEmail.js
  packages/api/database/migrations/1590493369144_users_schema.js
  packages/api/resources/locales/en/message.json
  packages/api/resources/locales/pt/message.json
  packages/api/resources/views/emails/new-email-verification.edge
  packages/api/resources/views/emails/sucess-change-email.edge
  packages/api/server.js
  packages/api/start/routes.js
  packages/api/test/functional/user.spec.js
Labels: API

#311 Feature/my profile update
  cypress/e2e/web/updateUser.js
  cypress/fixtures/user.json
  packages/web/__tests__/pages/__snapshots__/index.js.snap
  packages/web/__tests__/pages/index.js
  packages/web/components/Button/CircularButton.js
  packages/web/components/Common/Layout.js
  packages/web/components/Form/MaskedInputField.js
  packages/web/components/Form/SelectField.js
  packages/web/components/Form/__tests__/MaskedInputField.js
  packages/web/components/Form/__tests__/__snapshots__/MaskedInputField.js.snap
  packages/web/components/Form/index.js
  packages/web/components/TechnologyForm/Costs/CostsTable.js
  packages/web/components/TechnologyForm/Costs/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/Costs/index.js
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/pages/user/my-account/index.js
  packages/web/pages/user/my-account/technologies.js
  packages/web/public/static/locales/en/account.json
  packages/web/public/static/locales/en/error.json
  packages/web/public/static/locales/pt/account.json
  packages/web/public/static/locales/pt/error.json
  packages/web/services/__tests__/user.js
  packages/web/services/user.js
  packages/web/utils/__tests__/helper.js
  packages/web/utils/helper.js
Labels: WEB, comp:users

#318 Feature/web/user-dropdown
  cypress/e2e/web/login.js
  packages/web/components/Common/Layout.js
  packages/web/components/Header/Header.js
  packages/web/components/Header/NewTechnologyButton.js
  packages/web/components/Header/UserHeader.js
  packages/web/components/Header/index.js
  packages/web/components/Header/styles.js
  packages/web/components/TechnologyForm/Costs/__tests__/__snapshots__/index.js.snap
  packages/web/components/UserProfile/LogoutButton.js
  packages/web/components/UserProfile/PageLink.js
  packages/web/components/UserProfile/UserProfile.js
  packages/web/components/UserProfile/UserProfileDropDown.js
  packages/web/components/UserProfile/__tests__/UserProfileDropDown.js
  packages/web/components/UserProfile/__tests__/__snapshots__/UserProfileDropDown.js.snap
  packages/web/components/UserProfile/index.js
  packages/web/components/UserProfile/pages.js
  packages/web/components/UserProfile/styles.js
  packages/web/hooks/__tests__/useVisibleComponent.js
  packages/web/hooks/index.js
  packages/web/hooks/useVisibleComponent.js
  packages/web/public/static/locales/en/profile.json
  packages/web/public/static/locales/pt/profile.json
Labels: WEB, enhancement

#316 Cypress + mailcatcher
  .travis.yml
  README.md
  cypress/e2e/web/login.js
  cypress/e2e/web/register.js
  cypress/e2e/web/resetPassword.js
  cypress/support/commands.js
  package-lock.json
  packages/api/database/seeds/1_UserSeeder.js
Labels: tests
