Repository ufersa/plataforma-sabia, pull requests merged in 2020-08, with the labels that each got.

#321 Alterar Email no Front
  cypress/e2e/web/changeEmail.js
  cypress/e2e/web/updateUser.js
  packages/api/app/Controllers/Http/AuthController.js
  packages/api/app/Controllers/Http/UserController.js
  packages/api/app/Validators/UpdateUser.js
  packages/api/database/migrations/1590493369144_users_schema.js
  packages/api/resources/views/emails/confirm-account.edge
  packages/api/resources/views/emails/new-email-verification.edge
  packages/api/start/routes.js
  packages/api/test/functional/user.spec.js
  packages/web/__tests__/pages/__snapshots__/index.js.snap
  packages/web/components/Authorization/__tests__/__snapshots__/Protected.js.snap
  packages/web/components/Form/InputField.js
  packages/web/components/Form/__tests__/__snapshots__/Fields.js.snap
  packages/web/components/Form/__tests__/__snapshots__/MaskedInputField.js.snap
  packages/web/components/TechnologyForm/Costs/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/Responsible/__tests__/__snapshots__/index.js.snap
  packages/web/pages/index.js
  packages/web/pages/user/my-account/index.js
  packages/web/public/static/locales/en/account.json
  packages/web/public/static/locales/en/common.json
  packages/web/public/static/locales/pt/account.json
  packages/web/public/static/locales/pt/common.json
  packages/web/services/user.js
Labels: WEB

#292 Feature/Web/Technology Details Page
  cypress.json
  cypress/e2e/web/technologyDetails.js
  cypress/support/commands.js
  packages/api/app/Controllers/Http/TechnologyController.js
  packages/api/app/Models/Technology.js
  packages/api/test/functional/technology.spec.js
  packages/web/components/Button/Button.js
  packages/web/components/Card/Card.js
  packages/web/components/Common/Layout.js
  packages/web/components/Tab/index.js
  packages/web/components/Tab/styles.js
  packages/web/components/TechnologiesSection/TechnologiesSection.js
  packages/web/components/Technology/Details/Header.js
  packages/web/components/Technology/Details/Search.js
  packages/web/components/Technology/Details/Section.js
  packages/web/components/Technology/Details/Tabs.js
  packages/web/components/Technology/Details/TextValue.js
  packages/web/components/Technology/TechnologyContext.js
  packages/web/components/Technology/TechnologyProvider.js
  packages/web/components/Technology/index.js
  packages/web/components/TechnologyForm/Costs/__tests__/__snapshots__/index.js.snap
  packages/web/hooks/__tests__/useTechnology.js
  packages/web/hooks/index.js
  packages/web/hooks/useTechnology.js
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/pages/_app.js
  packages/web/pages/_error.js
  packages/web/pages/index.js
  packages/web/pages/t/[technology]/index.js
  packages/web/pages/technology/[id]/edit.js
  packages/web/services/__tests__/technology.js
  packages/web/services/technology.js
  packages/web/styles/theme.js
Labels: WEB, comp:technologies, complexity:medium, enhancement

#329 Favoritar Tecnologia
  cypress/e2e/web/technologies.js
  packages/api/app/Controllers/Http/AuthController.js
  packages/api/test/functional/user.spec.js
  packages/web/components/Algolia/hitCard.js
  packages/web/components/Card/Card.js
  packages/web/components/Card/Likes/index.js
  packages/web/components/Card/Likes/styles.js
  packages/web/components/Card/styles.js
  packages/web/components/Hero/HeroSearch/SearchItem.js
  packages/web/components/TechnologiesSection/TechnologiesSection.js
  packages/web/components/User/UserProvider.js
  packages/web/pages/_app.js
  packages/web/public/static/locales/en/common.json
  packages/web/public/static/locales/pt/common.json
  packages/web/services/__tests__/api.js
  packages/web/services/__tests__/auth.js
  packages/web/services/__tests__/bookmark.js
  packages/web/services/api.js
  packages/web/services/auth.js
  packages/web/services/bookmark.js
  packages/web/services/index.js
Labels: WEB, comp:technologies, enhancement

#331 Feature/responsibles integration
  cypress/support/commands.js
  packages/api/app/Controllers/Http/AuthController.js
  packages/api/app/Controllers/Http/TechnologyController.js
  packages/api/app/Models/User.js
  packages/api/database/migrations/1590493369144_users_schema.js
  packages/api/resources/locales/en/message.json
  packages/api/resources/locales/pt/message.json
  packages/api/resources/views/emails/technology-invitation.edge
  packages/api/test/functional/auth.spec.js
  packages/api/test/functional/technology.spec.js
  packages/web/__tests__/pages/__snapshots__/index.js.snap
  packages/web/components/Authorization/__tests__/__snapshots__/Protected.js.snap
  packages/web/components/Common/Layout.js
  packages/web/components/Form/InputField.js
  packages/web/components/Form/Repeater.js
  packages/web/components/Form/__tests__/__snapshots__/Fields.js.snap
  packages/web/components/Form/__tests__/__snapshots__/MaskedInputField.js.snap
  packages/web/components/TechnologyForm/Costs/CostsTable.js
  packages/web/components/TechnologyForm/Costs/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/Responsible/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/Responsible/__tests__/index.js
  packages/web/components/TechnologyForm/Responsible/index.js
  packages/web/components/TechnologyForm/Responsible/styles.js
  packages/web/pages/technology/[id]/edit.js
  packages/web/services/technology.js
Labels: WEB, enhancement

#351 Fix switch
  packages/web/components/Form/SwitchField.js
Labels: WEB, bug, comp:technologies

#353 Update/responsible page
  packages/web/components/Form/__tests__/__snapshots__/Fields.js.snap
  packages/web/components/Form/index.js
  packages/web/components/TechnologyForm/Costs/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/MapAndAttachments/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/Responsible/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/Responsible/index.js
Labels: bug

#337 Cadastro de Tecnologia - Resumo
  cypress/e2e/web/changeEmail.js
  cypress/e2e/web/createTechnology.js
  cypress/fixtures/technology.json
  packages/web/__tests__/pages/__snapshots__/index.js.snap
  packages/web/components/Authorization/__tests__/__snapshots__/Protected.js.snap
  packages/web/components/Form/CheckBoxField.js
  packages/web/components/Form/FormWizard.js
  packages/web/components/Form/__tests__/__snapshots__/Fields.js.snap
  packages/web/components/Technology/Details/Section.js
  packages/web/components/Technology/Details/TextValue.js
  packages/web/components/TechnologyForm/Review.js
  packages/web/components/TechnologyForm/Review/Tables/Costs.js
  packages/web/components/TechnologyForm/Review/Tables/Responsibles.js
  packages/web/components/TechnologyForm/Review/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/Review/__tests__/index.js
  packages/web/components/TechnologyForm/Review/index.js
  packages/web/components/TechnologyForm/Review/styles.js
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/pages/_app.js
  packages/web/pages/technology/[id]/edit.js
  packages/web/public/static/locales/en/common.json
  packages/web/public/static/locales/pt/common.json
  packages/web/utils/__tests__/helper.js
  packages/web/utils/helper.js
Labels: WEB, comp:technologies

#358 Notificação de sucesso no cadastro de usuário
  packages/web/components/Modal/RegisterModal/index.js
  packages/web/public/static/locales/en/common.json
  packages/web/public/static/locales/pt/common.json
Labels: WEB, bug, comp:users

#361 Removed the parent as a requirement in terms
  packages/admin/src/pages/terms/Form/index.js
Labels: ADMIN
