Repository ufersa/plataforma-sabia, pull requests merged in 2020-12, with the labels that each got.

#650 Ajustar DELETE de um upload quando existir relacionamento na tabela technologies
  packages/api/database/migrations/1605628575470_add_on_delete_to_technology_schema.js
Labels: API, bug

#692 NProgress bar not shown when changing routes
  packages/web/styles/global.js
Labels: WEB, bug

#679 Visualizar todos os dados dos usuários no ADMIN
  packages/admin/src/components/Reviewers/ReviewersComments.js
  packages/admin/src/components/StatusForm/index.js
  packages/admin/src/components/StatusForm/statuses.js
  packages/admin/src/components/Technology/TechnologyFilterBar.js
  packages/admin/src/components/Technology/TechnologyTermsSelect.js
  packages/admin/src/components/index.js
  packages/admin/src/pages/reviewers/edit.js
  packages/admin/src/pages/technologies/Form/CostForm.js
  packages/admin/src/pages/technologies/Form/ResponsibleForm.js
  packages/admin/src/pages/technologies/Form/index.js
  packages/admin/src/pages/users/Form/AboutForm.js
  packages/admin/src/pages/users/Form/Bookmarks.js
  packages/admin/src/pages/users/Form/Institution.js
  packages/admin/src/pages/users/Form/Reviews.js
  packages/admin/src/pages/users/Form/Technologies.js
  packages/admin/src/pages/users/Form/Uploads.js
  packages/admin/src/pages/users/Form/index.js
  packages/admin/src/providers/dataProvider.js
  packages/api/app/Models/Role.js
  packages/api/app/Models/Technology.js
  packages/api/app/Models/Traits/Params.js
  packages/api/test/unit/role.spec.js
Labels: ADMIN, comp:users

#685 Integrates questions API with front
  cypress/e2e/web/technologyDetails.js
  packages/web/__tests__/pages/user/my-account/__snapshots__/revisions.js.snap
  packages/web/__tests__/pages/user/my-account/curate/__snapshots__/profile.js.snap
  packages/web/components/Modal/QuestionDetailsModal/index.js
  packages/web/components/Technology/Details/Tabs/FAQ/Question.js
  packages/web/components/Technology/Details/Tabs/FAQ/index.js
  packages/web/components/Technology/Details/Tabs/FAQ/styles.js
  packages/web/components/UserProfile/UserProfile.js
  packages/web/components/UserProfile/UserProfileDropDown.js
  packages/web/components/UserProfile/__tests__/__snapshots__/UserProfileDropDown.js.snap
  packages/web/components/UserProfile/pages.js
  packages/web/pages/user/my-account/questions.js
  packages/web/services/question.js
  packages/web/services/technology.js
  packages/web/services/user.js
  packages/web/utils/enums/questions.enum.js
Labels: WEB, enhancement

#654 Melhoria no perfil do usuário
  cypress/e2e/web/updateUser.js
  cypress/fixtures/user.json
  packages/web/__tests__/pages/user/my-account/__snapshots__/index.js.snap
  packages/web/components/Authorization/__tests__/__snapshots__/Protected.js.snap
  packages/web/components/Card/Share/__tests__/__snapshots__/index.js.snap
  packages/web/components/Form/MaskedInputField.js
  packages/web/components/Form/SelectField.js
  packages/web/components/Form/__tests__/MaskedInputField.js
  packages/web/components/Form/__tests__/__snapshots__/MaskedInputField.js.snap
  packages/web/components/Modal/CreateInstitutionsModal/index.js
  packages/web/components/Modal/CreateInstitutionsModal/styles.js
  packages/web/components/Modal/ModalProvider.js
  packages/web/components/Modal/UpdateEmailModal/index.js
  packages/web/components/Modal/UpdateEmailModal/styles.js
  packages/web/components/Modal/__tests__/CreateInstitutionsModal.js
  packages/web/components/Modal/__tests__/UpdateEmailModal.js
  packages/web/components/Modal/__tests__/__snapshots__/CreateInstitutionsModal.js.snap
  packages/web/components/Modal/__tests__/__snapshots__/UpdateEmailModal.js.snap
  packages/web/components/Modal/styles.js
  packages/web/pages/contact-us.js
  packages/web/pages/user/my-account/index.js
  packages/web/public/static/locales/en/account.json
  packages/web/public/static/locales/pt/account.json
  packages/web/services/index.js
  packages/web/services/institutions.js
  packages/web/setupTests.js
  packages/web/styles/theme.js
  packages/web/utils/enums/states.enum.js
  packages/web/utils/helper.js
Labels: WEB, comp:users

#697 Cadastro de organizações no ADMIN
  packages/admin/package-lock.json
  packages/admin/package.json
  packages/admin/src/App.js
  packages/admin/src/pages/institutions/Form/index.js
  packages/admin/src/pages/institutions/create.js
  packages/admin/src/pages/institutions/edit.js
  packages/admin/src/pages/institutions/index.js
  packages/admin/src/pages/institutions/list.js
  packages/admin/src/pages/users/Form/AboutForm.js
  packages/admin/src/pages/users/Form/Institution.js
  packages/admin/src/pages/users/Form/index.js
  packages/api/app/Controllers/Http/InstitutionController.js
  packages/api/app/Models/Institution.js
  packages/api/app/Models/Permission.js
  packages/api/database/migrations/1607615663236_institutions_rename_column_user_id_schema.js
  packages/api/database/seeds/1_UserSeeder.js
  packages/api/database/seeds/5_PermissionSeeder.js
  packages/api/start/routes/institutions.js
  packages/api/test/functional/institution.spec.js
Labels: ADMIN, API, bug

#688 Feature/api/idea database
  packages/api/app/Controllers/Http/IdeaController.js
  packages/api/app/Models/Idea.js
  packages/api/app/Models/Permission.js
  packages/api/app/Models/Term.js
  packages/api/app/Models/Traits/Params.js
  packages/api/app/Models/User.js
  packages/api/app/Utils/roles_capabilities.js
  packages/api/app/Validators/StoreIdea.js
  packages/api/database/factory.js
  packages/api/database/migrations/1606773532660_idea_schema.js
  packages/api/database/migrations/1606773792945_idea_term_schema.js
  packages/api/database/seeds/11_TechnologyQuestionSeeder.js
  packages/api/database/seeds/5_PermissionSeeder.js
  packages/api/database/seeds/IdeaSeeder.js
  packages/api/start/routes/ideas.js
  packages/api/start/routes/index.js
  packages/api/test/functional/idea.spec.js
Labels: API

#706 Fixes seed error and change some tests
  packages/api/database/seeds/00_RoleSeeder.js
  packages/api/database/seeds/01_UserSeeder.js
  packages/api/database/seeds/02_TaxonomySeeder.js
  packages/api/database/seeds/03_TermSeeder.js
  packages/api/database/seeds/04_TechnologySeeder.js
  packages/api/database/seeds/05_PermissionSeeder.js
  packages/api/database/seeds/06_TechnologyReviewSeeder.js
  packages/api/database/seeds/07_UserBookmarkSeeder.js
  packages/api/database/seeds/08_TechnologyCostSeeder.js
  packages/api/database/seeds/09_RevisionSeeder.js
  packages/api/database/seeds/12_TechnologyQuestionSeeder.js
  packages/api/database/seeds/13_IdeaSeeder.js
  packages/api/package.json
  packages/api/test/functional/disclaimers.spec.js
  packages/api/test/functional/technology-cost.spec.js
  packages/api/test/functional/technology-question.spec.js
Labels: API, bug

#696 Feature/api/inbox-messages
  cypress/e2e/web/updateUser.js
  packages/api/app/Controllers/Http/MessageController.js
  packages/api/app/Jobs/SendMail.js
  packages/api/app/Models/Disclaimer.js
  packages/api/app/Models/Message.js
  packages/api/app/Models/Reviewer.js
  packages/api/app/Models/Revision.js
  packages/api/app/Models/Technology.js
  packages/api/app/Models/TechnologyOrder.js
  packages/api/app/Models/TechnologyQuestion.js
  packages/api/app/Models/Traits/Params.js
  packages/api/app/Models/User.js
  packages/api/app/Utils/statuses.js
  packages/api/app/Validators/StoreMessage.js
  packages/api/app/Validators/markMessages.js
  packages/api/database/factory.js
  packages/api/database/migrations/1607463469723_message_schema.js
  packages/api/resources/views/emails/technology-question.edge
  packages/api/start/routes/index.js
  packages/api/start/routes/messages.js
  packages/api/test/functional/message.spec.js
Labels: API, enhancement

#704 Update Institution Database
  packages/api/app/Controllers/Http/InstitutionController.js
  packages/api/app/Controllers/Http/UserController.js
  packages/api/app/Models/Institution.js
  packages/api/app/Models/Traits/Params.js
  packages/api/app/Utils/statuses.js
  packages/api/app/Validators/StoreInstitution.js
  packages/api/app/Validators/UpdateInstitution.js
  packages/api/app/Validators/UpdateUser.js
  packages/api/app/Validators/User.js
  packages/api/database/factory.js
  packages/api/database/migrations/1607953663025_institution_new_fields_schema.js
  packages/api/start/routes/institutions.js
  packages/api/start/routes/users.js
Labels: API

#676 initial implementation of the chat messages
  packages/api/app/Controllers/Http/ChatController.js
  packages/api/app/Models/Chat.js
  packages/api/app/Models/ChatMessage.js
  packages/api/app/Models/Hooks/Uuid.js
  packages/api/app/Utils/errors.js
  packages/api/app/Utils/statuses.js
  packages/api/app/Validators/ChatPostMessage.js
  packages/api/app/Validators/getChat.js
  packages/api/database/migrations/1605981580412_chat.js
  packages/api/database/migrations/1605981580414_chat_message.js
  packages/api/package-lock.json
  packages/api/package.json
  packages/api/resources/locales/en/error.json
  packages/api/resources/locales/pt/error.json
  packages/api/start/routes/chat.js
  packages/api/start/routes/index.js
  packages/api/test/functional/chat.spec.js
Labels: API, comp:order

#719 Update footer
  .gitignore
  packages/web/components/Footer/Footer.js
  packages/web/components/Footer/styles.js
  packages/web/components/HamburguerMenu/HamburguerMenu.js
  packages/web/components/LandingPage/About/index.js
  packages/web/components/LandingPage/Features/FeatureSlider/index.js
  packages/web/components/LandingPage/Features/index.js
  packages/web/components/LandingPage/Footer/Footer.js
  packages/web/components/LandingPage/Footer/index.js
  packages/web/components/LandingPage/Footer/styles.js
  packages/web/components/LandingPage/Header/Header.js
  packages/web/components/LandingPage/Header/UserHeader.js
  packages/web/components/LandingPage/Header/links.js
  packages/web/components/_Layouts/LandingPage.js
Labels: WEB, enhancement

#712 Gestão do Banco de Ideias no ADMIN
  packages/admin/src/App.js
  packages/admin/src/pages/ideas/Form/index.js
  packages/admin/src/pages/ideas/create.js
  packages/admin/src/pages/ideas/edit.js
  packages/admin/src/pages/ideas/index.js
  packages/admin/src/pages/ideas/list.js
  packages/api/app/Controllers/Http/IdeaController.js
  packages/api/app/Utils/roles_capabilities.js
  packages/api/database/seeds/05_PermissionSeeder.js
  packages/api/start/routes/ideas.js
Labels: ADMIN, API

#669 Enable and disable a technology
  cypress/fixtures/technology.json
  packages/api/app/Commands/AlgoliaIndex.js
  packages/api/app/Controllers/Http/TechnologyController.js
  packages/api/app/Middleware/Published.js
  packages/api/app/Models/Permission.js
  packages/api/app/Models/Technology.js
  packages/api/app/Utils/roles_capabilities.js
  packages/api/database/factory.js
  packages/api/database/migrations/1606357633943_add_active_column_to_technology_schema.js
  packages/api/database/seeds/05_PermissionSeeder.js
  packages/api/start/routes/messages.js
  packages/api/start/routes/technologies.js
  packages/api/test/functional/params.spec.js
  packages/api/test/functional/technology.spec.js
  packages/web/__tests__/pages/user/my-account/__snapshots__/revisions.js.snap
  packages/web/components/DataGrid/styles.js
  packages/web/components/Form/SwitchField.js
  packages/web/components/Form/__tests__/__snapshots__/Fields.js.snap
  packages/web/components/TechnologyForm/Costs/__tests__/__snapshots__/index.js.snap
  packages/web/pages/user/my-account/technologies.js
  packages/web/services/technology.js
  packages/web/utils/technology.js
Labels: API, WEB, comp:technologies, enhancement

#724 Lists user orders in user show route with embed
  packages/api/app/Models/Traits/Params.js
  packages/api/app/Models/User.js
  packages/api/test/functional/user.spec.js
Labels: API, comp:order, enhancement

#726 fix duplicated import on testing
  packages/api/test/functional/technology.spec.js
Labels: API, URGENT, bug, tests
