Repository ufersa/plataforma-sabia, pull requests merged in 2020-05, with the labels that each got.

#66 "Esqueci Senha" no admin
  packages/admin/package.json
  packages/admin/src/App.js
  packages/admin/src/LoginPage.js
  packages/admin/src/components/Auth/AuthForm/index.js
  packages/admin/src/components/Auth/AuthForm/styles.js
  packages/admin/src/components/Auth/ForgotPassword.js
  packages/admin/src/components/Auth/LoginPage.js
  packages/admin/src/components/Auth/ResetPassword.js
  packages/admin/src/components/Auth/index.js
  packages/admin/src/routes.js
  packages/api/app/Controllers/Http/AuthController.js
Labels: ADMIN, comp:users

#76 Styles/web/header-improvement
  packages/web/components/Header/styles.js
  packages/web/styles/theme.js
Labels: WEB

#72 Feature/search page
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  packages/api/app/Commands/AlgoliaIndex.js
  packages/api/app/Controllers/Http/TechnologyController.js
  packages/api/database/factory.js
  packages/api/database/migrations/1588093051462_alter_technology_schema.js
  packages/api/test/functional/technology.spec.js
  packages/api/test/unit/algolia.spec.js
  packages/web/.storybook/theme-decorator.js
  packages/web/components/Algolia/clearRefinements.js
  packages/web/components/Algolia/debouncedSearchBox.js
  packages/web/components/Algolia/hitCard.js
  packages/web/components/Algolia/hitsPerPage.js
  packages/web/components/Algolia/index.js
  packages/web/components/Algolia/pagination.js
  packages/web/components/Algolia/panel.js
  packages/web/components/Algolia/provider.js
  packages/web/components/Algolia/refinementList.js
  packages/web/components/Algolia/searchBox.js
  packages/web/components/Algolia/sortBy.js
  packages/web/components/Algolia/stats.js
  packages/web/components/Algolia/toggleRefinement.js
  packages/web/components/Card/index.js
  packages/web/components/Card/styles.js
  packages/web/components/Header/UserHeader.js
  packages/web/components/Header/links.js
  packages/web/components/Hero/HeroSearch/SearchItem.js
  packages/web/components/Hero/HeroSearch/index.js
  packages/web/components/Hero/HeroSearch/styles.js
  packages/web/components/Hero/index.js
  packages/web/components/Hero/styles.js
  packages/web/components/Search/index.js
  packages/web/components/TechnologiesSection/index.js
  packages/web/components/TechnologiesSection/styles.js
  packages/web/package.json
  packages/web/pages/_app.js
  packages/web/pages/search.js
  packages/web/stories/Card.stories.js
  packages/web/styles/ThemeProvider.js
  packages/web/styles/index.js
  packages/web/tests/visual/__image_snapshots__/storyshoots-test-js-visual-regression-card-grid-1-snap.png
  packages/web/tests/visual/__image_snapshots__/storyshoots-test-js-visual-regression-card-single-1-snap.png
  packages/web/tests/visual/__image_snapshots__/storyshoots-test-js-visual-regression-hero-default-1-snap.png
  packages/web/utils/fakeData.js
  packages/web/utils/helper.js
Labels: WEB, comp:search, enhancement

#89 Fix/web/deploy
  packages/web/package-lock.json
  packages/web/package.json
Labels: WEB, bug

#93 Add compressed images
  packages/web/public/card-image.jpg
  packages/web/public/card-image2.jpg
  packages/web/public/card-image3.jpg
  packages/web/public/card-image4.jpg
  packages/web/public/hero.jpg
  packages/web/public/static/favicon.ico
Labels: WEB, enhancement

#90 Feature/web/custom error pages
  packages/web/components/Header/links.js
  packages/web/pages/_error.js
  packages/web/public/static/locales/en/error.json
  packages/web/public/static/locales/pt/error.json
Labels: WEB, enhancement

#99 Feature/web/url syncronization
  packages/web/components/Algolia/debouncedSearchBox.js
  packages/web/components/Algolia/provider.js
  packages/web/components/Hero/HeroSearch/HeroSearch.js
  packages/web/hooks/index.js
  packages/web/hooks/useURLSync.js
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/pages/search.js
Labels: WEB, comp:search, enhancement

#103 Styles/web/styled switcher
  packages/web/components/HamburguerMenu/HamburguerMenu.js
  packages/web/components/Header/LanguageSwitcher.js
  packages/web/components/Header/styles.js
  packages/web/components/Link/Link.js
Labels: WEB

#104 SSR algolia results
  packages/web/components/Algolia/provider.js
  packages/web/components/Hero/HeroSearch/HeroSearch.js
  packages/web/components/MainSearch/MainSearch.js
  packages/web/components/MainSearch/index.js
  packages/web/components/MainSearch/styles.js
  packages/web/hooks/index.js
  packages/web/pages/search.js
  packages/web/utils/algoliaHelper.js
Labels: WEB, comp:search, enhancement

#118 Make components responsive
  packages/web/components/Algolia/debouncedSearchBox.js
  packages/web/components/Algolia/searchBox.js
  packages/web/components/Button/Button.js
  packages/web/components/Button/styles.js
  packages/web/components/Common/Layout.js
  packages/web/components/Form/Form.js
  packages/web/components/Form/FormWizard.js
  packages/web/components/Header/UserHeader.js
  packages/web/components/Header/styles.js
  packages/web/components/NewTechnologyForm/AboutTechnology.js
  packages/web/components/NewTechnologyForm/Details.js
  packages/web/pages/technology/new.js
Labels: WEB, comp:technologies
