Repository ufersa/plataforma-sabia, pull requests merged in 2020-10, with the labels that each got.

#458 Feature - Privacy Policy page
  cypress/e2e/web/privacyPolicy.js
  cypress/e2e/web/termsOfUse.js
  packages/web/components/Footer/Footer.js
  packages/web/components/TermsAndPolicies/styles.js
  packages/web/pages/privacy-policy.js
Labels: WEB, enhancement

#440 Read locales in e2e tests
  cypress/support/commands.js
  packages/web/jest.config.js
  packages/web/public/static/locales/en/index.js
  packages/web/public/static/locales/index.js
  packages/web/public/static/locales/pt/index.js
Labels: enhancement, tests

#445 hotfix uploads
  packages/api/app/Controllers/Http/UploadController.js
  packages/api/app/Validators/Upload.js
  packages/api/start/routes/uploads.js
  packages/api/test/functional/upload.spec.js
  packages/web/components/Form/index.js
  packages/web/components/TechnologyForm/MapAndAttachments/index.js
  packages/web/services/uploads.js
Labels: API, WEB

#459 Feature - Algolia stories
  packages/web/package-lock.json
  packages/web/stories/Algolia/Hero.stories.js
  packages/web/stories/Algolia/Main.stories.js
Labels: WEB, documentation

#466 Hotfix - Make technology cost visible for unauthenticated users
  packages/web/__tests__/pages/t/__snapshots__/index.js.snap
  packages/web/components/Technology/Details/Header.js
Labels: WEB, bug

#419 Refatorar ordenação
  packages/api/app/Controllers/Http/PermissionController.js
  packages/api/app/Controllers/Http/RoleController.js
  packages/api/app/Controllers/Http/TaxonomyController.js
  packages/api/app/Controllers/Http/TechnologyController.js
  packages/api/app/Controllers/Http/TechnologyCostController.js
  packages/api/app/Controllers/Http/TechnologyReviewController.js
  packages/api/app/Controllers/Http/TermController.js
  packages/api/app/Controllers/Http/UploadController.js
  packages/api/app/Controllers/Http/UserBookmarkController.js
  packages/api/app/Controllers/Http/UserController.js
  packages/api/app/Middleware/HandleParam.js
  packages/api/app/Models/Traits/Params.js
  packages/api/start/routes/bookmarks.js
  packages/api/start/routes/technologies.js
  packages/api/start/routes/technologyReviews.js
  packages/api/test/functional/params.spec.js
  packages/api/test/functional/taxonomy.spec.js
  packages/api/test/functional/technology-review.spec.js
  packages/api/test/functional/technology.spec.js
  packages/api/test/functional/term.spec.js
  packages/api/test/functional/user-bookmark.spec.js
Labels: API

#471 Remover métodos síncronos de I/O na API
  .nvmrc
  package.json
  packages/api/app/Controllers/Http/UploadController.js
  packages/api/app/Models/Upload.js
  packages/api/test/functional/technology.spec.js
  packages/api/test/functional/upload.spec.js
  packages/api/vowfile.js
Labels: API

#278 feature/admin/crud-taxonomy-admin
  packages/admin/src/components/ChipField.js
  packages/admin/src/components/ReferenceArrayField.js
  packages/admin/src/components/TechnologyTermsSelect.js
  packages/admin/src/pages/permissions/list.js
  packages/admin/src/pages/roles/Form/index.js
  packages/admin/src/pages/roles/list.js
  packages/admin/src/pages/taxonomy/Form/index.js
  packages/admin/src/pages/taxonomy/list.js
  packages/admin/src/pages/technologies/Form/index.js
  packages/admin/src/pages/technologies/list.js
  packages/admin/src/pages/terms/Form/index.js
  packages/admin/src/pages/terms/list.js
  packages/admin/src/pages/users/Form/index.js
  packages/admin/src/pages/users/list.js
  packages/admin/src/providers/dataProvider.js
  packages/api/app/Controllers/Http/TaxonomyController.js
  packages/api/app/Controllers/Http/TechnologyController.js
  packages/api/app/Controllers/Http/TermController.js
  packages/api/start/routes/terms.js
  packages/api/test/functional/term.spec.js
Labels: ADMIN, API

#474 Bugfix - Formulários de Tecnologias - Aba Mapas e Anexos
  packages/web/components/TechnologyForm/MapAndAttachments/index.js
  packages/web/pages/technology/[id]/edit.js
Labels: WEB, bug, comp:technologies

#467 hotfix/web/about-technology
  cypress/e2e/web/createTechnology.js
  cypress/fixtures/technology.json
  cypress/support/commands.js
  packages/api/app/Controllers/Http/TechnologyController.js
  packages/api/database/migrations/1602071758960_technology_intellectual_property_schema.js
  packages/api/database/seeds/2_TaxonomySeeder.js
  packages/api/database/seeds/3_TermSeeder.js
  packages/api/database/seeds/4_TechnologySeeder.js
  packages/api/start/routes/bookmarks.js
  packages/api/start/routes/technologies.js
  packages/api/test/functional/technology.spec.js
  packages/web/__tests__/pages/user/my-account/__snapshots__/index.js.snap
  packages/web/components/Authorization/__tests__/__snapshots__/Protected.js.snap
  packages/web/components/Form/InputField.js
  packages/web/components/Form/MaskedInputField.js
  packages/web/components/Form/Required/Indicator.js
  packages/web/components/Form/Required/Info.js
  packages/web/components/Form/SelectField.js
  packages/web/components/Form/SwitchField.js
  packages/web/components/Form/TextField.js
  packages/web/components/Form/Watcher.js
  packages/web/components/Form/__tests__/__snapshots__/CurrencyInputField.js.snap
  packages/web/components/Form/__tests__/__snapshots__/Fields.js.snap
  packages/web/components/Form/__tests__/__snapshots__/MaskedInputField.js.snap
  packages/web/components/Form/index.js
  packages/web/components/Modal/CurateTechnologyModal/index.js
  packages/web/components/TechnologyForm/AboutTechnology.js
  packages/web/components/TechnologyForm/Costs/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/Costs/__tests__/index.js
  packages/web/components/TechnologyForm/MapAndAttachments/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/Responsible/__tests__/__snapshots__/index.js.snap
  packages/web/styles/theme.js
Labels: WEB, bug

#475 Problema na responsividade no cadastro de usuários
  packages/web/components/Modal/LoginModal/index.js
  packages/web/components/Modal/RegisterModal/index.js
  packages/web/components/Modal/RegisterModal/styles.js
  packages/web/public/static/locales/en/common.json
  packages/web/public/static/locales/pt/common.json
Labels: WEB, bug

#496 Detalhamento de Tecnologia - Estágios de Desenvolvimento
  packages/web/__tests__/pages/t/__snapshots__/index.js.snap
  packages/web/components/Modal/CurateTechnologyModal/index.js
  packages/web/components/Technology/Details/ReadinessLevel/index.js
  packages/web/components/Technology/Details/Tabs/About.js
  packages/web/components/Technology/Details/__tests__/ReadinessLevel.js
  packages/web/utils/technology.js
Labels: WEB, comp:technologies, enhancement

#498 Atualizando foto principal "Hero"
  packages/web/components/Hero/styles.js
  packages/web/public/hero.jpg
  packages/web/public/hero/1.jpg
  packages/web/public/hero/2.jpg
  packages/web/public/hero/3.jpg
  packages/web/public/hero/4.jpg
  packages/web/public/hero/5.jpg
  packages/web/public/hero/6.jpg
  packages/web/public/hero/7.jpg
Labels: WEB, comp:technologies, enhancement

#456 Feature/api/curation process
  .travis.yml
  packages/api/.env.example
  packages/api/README.md
  packages/api/app/Controllers/Http/ReviewerController.js
  packages/api/app/Controllers/Http/TechnologyController.js
  packages/api/app/Jobs/TechnologyDistribution.js
  packages/api/app/Models/Permission.js
  packages/api/app/Models/Reviewer.js
  packages/api/app/Models/Revision.js
  packages/api/app/Models/Technology.js
  packages/api/app/Models/Term.js
  packages/api/app/Models/Traits/Params.js
  packages/api/app/Utils/errors.js
  packages/api/app/Utils/index.js
  packages/api/app/Utils/roles_capabilities.js
  packages/api/app/Utils/statuses.js
  packages/api/app/Utils/technology_distribution.js
  packages/api/app/Validators/Revision.js
  packages/api/app/Validators/StoreReviewer.js
  packages/api/app/Validators/UpdateTechnologyStatus.js
  packages/api/app/Validators/updateReviewerStatus.js
  packages/api/config/bull.js
  packages/api/database/factory.js
  packages/api/database/migrations/1595452149355_technology_schema.js
  packages/api/database/migrations/1598814160304_reviewer_schema.js
  packages/api/database/migrations/1598815074640_reviewer_category_schema.js
  packages/api/database/migrations/1600126316432_reviewer_technology_schema.js
  packages/api/database/migrations/1601327605261_revision_schema.js
  packages/api/database/seeds/3_TermSeeder.js
  packages/api/database/seeds/5_PermissionSeeder.js
  packages/api/database/seeds/9_RevisionSeeder.js
  packages/api/package-lock.json
  packages/api/package.json
  packages/api/preloads/bull.js
  packages/api/resources/locales/en/error.json
  packages/api/resources/locales/en/message.json
  packages/api/resources/locales/pt/error.json
  packages/api/resources/locales/pt/message.json
  packages/api/resources/views/emails/approved-reviewer.edge
  packages/api/resources/views/emails/technology-reviewer.edge
  packages/api/resources/views/emails/technology-revision.edge
  packages/api/server.js
  packages/api/start/app.js
  packages/api/start/jobs.js
  packages/api/start/routes/bookmarks.js
  packages/api/start/routes/index.js
  packages/api/start/routes/reviewers.js
  packages/api/start/routes/technologies.js
  packages/api/test/functional/reviewer.spec.js
  packages/api/test/functional/technology-cost.spec.js
  packages/api/test/functional/technology-review.spec.js
  packages/api/test/functional/technology.spec.js
  packages/api/test/functional/upload.spec.js
  packages/api/test/functional/user-bookmark.spec.js
  packages/api/test/unit/technology-distribution.spec.js
Labels: API, comp:curation, enhancement

#503 Correção na imagem inicial
  packages/web/components/Hero/Hero.js
  packages/web/components/Hero/styles.js
Labels: WEB, improvements

#509 feature/web/tech-summary-map
  packages/web/__tests__/pages/t/__snapshots__/index.js.snap
  packages/web/components/Common/Layout.js
  packages/web/components/GoogleMaps/index.js
  packages/web/components/Technology/Details/Tabs/GeoLocation.js
  packages/web/components/TechnologyForm/Costs/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/MapAndAttachments/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/Responsible/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/Review/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/Review/index.js
Labels: WEB, enhancement

#508 Ajustar get dos response headers no fetch da curadoria
  packages/api/database/seeds/9_RevisionSeeder.js
  packages/web/services/technology.js
  packages/web/utils/enums/api.enum.js
Labels: WEB, bug

#517 Ajustar get das categorias no modal seja um curador
  packages/web/__tests__/pages/user/my-account/__snapshots__/index.js.snap
  packages/web/components/Authorization/__tests__/__snapshots__/Protected.js.snap
  packages/web/components/Card/Share/__tests__/__snapshots__/index.js.snap
  packages/web/components/Modal/BeAReviewerModal/index.js
  packages/web/components/Modal/__tests__/BeAReviewerModal.js
  packages/web/components/Modal/styles.js
Labels: WEB, bug, comp:curation, complexity:easy

#494 Update/card info
  package.json
  packages/api/README.md
  packages/api/app/Commands/AlgoliaIndex.js
  packages/api/app/Controllers/Http/TechnologyController.js
  packages/api/database/seeds/1_UserSeeder.js
  packages/api/package-lock.json
  packages/api/test/functional/technology.spec.js
  packages/web/__tests__/pages/t/__snapshots__/index.js.snap
  packages/web/components/Algolia/hitCard.js
  packages/web/components/Card/Card.js
  packages/web/components/Card/styles.js
  packages/web/components/Hero/Hero.js
  packages/web/components/Hero/styles.js
  packages/web/components/TechnologiesSection/TechnologiesSection.js
  packages/web/pages/t/[technology]/index.js
  packages/web/public/card-image.jpg
  packages/web/public/static/locales/en/card.json
  packages/web/public/static/locales/pt/card.json
Labels: API, WEB

#506 feature/web/update-checks-tech-summary
  cypress/e2e/web/createTechnology.js
  packages/web/__tests__/pages/user/my-account/__snapshots__/index.js.snap
  packages/web/components/Authorization/__tests__/__snapshots__/Protected.js.snap
  packages/web/components/Form/CheckBoxField.js
  packages/web/components/Form/__tests__/__snapshots__/Fields.js.snap
  packages/web/components/TechnologyForm/Review/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/Review/index.js
Labels: WEB, enhancement

#518 Apresentar modal de aprovação pendente ao solicitar cadastro de curador
  packages/api/start/routes/reviewers.js
  packages/web/__tests__/pages/user/my-account/__snapshots__/index.js.snap
  packages/web/components/Authorization/__tests__/__snapshots__/Protected.js.snap
  packages/web/components/Card/Share/__tests__/__snapshots__/index.js.snap
  packages/web/components/Modal/BeAReviewerModal/index.js
  packages/web/components/Modal/RequestSentModal/index.js
  packages/web/components/Modal/__tests__/__snapshots__/RequestSentModal.js.snap
  packages/web/components/Modal/styles.js
  packages/web/components/UserProfile/BeAReviewerButton.js
  packages/web/components/UserProfile/__tests__/BeAReviewerButton.js
  packages/web/components/UserProfile/__tests__/__snapshots__/BeAReviewerButton.js.snap
  packages/web/services/__tests__/user.js
  packages/web/services/user.js
Labels: WEB, bug, comp:curation

#539 Ajustar componente de TRL
  packages/web/components/Technology/Details/ReadinessLevel/index.js
Labels: WEB, bug, comp:technologies

#492 Refactored seeds
  packages/api/database/seeds/4_TechnologySeeder.js
  packages/api/database/seeds/6_TechnologyReviewSeeder.js
  packages/api/database/seeds/7_UserBookmarkSeeder.js
  packages/api/database/seeds/8_TechnologyCostSeeder.js
Labels: API

#535 Ajustar macro withParams para receber option e não efetuar o relacionamento
  packages/api/app/Controllers/Http/TaxonomyController.js
  packages/api/app/Controllers/Http/TechnologyController.js
  packages/api/app/Models/Traits/Params.js
  packages/api/test/functional/taxonomy.spec.js
Labels: API, bug, complexity:medium

#529 add docker image creation workflow
  .dockerignore
  .github/workflows/build-and-deploy-image-to-staging-vps.yml
  .github/workflows/build-and-deploy-image-to-vps.yml
  .github/workflows/deploy-commit-to-staging.yml
  .github/workflows/deploy-commit.yml
  .travis.yml
  cypress/e2e/web/technologies.js
  cypress/e2e/web/technologyDetails.js
  cypress/fixtures/technology.json
  cypress/support/commands.js
  package.json
  packages/admin/.dockerignore
  packages/admin/.env.testing
  packages/admin/Dockerfile
  packages/admin/public/env.js
  packages/admin/public/index.html
  packages/admin/src/components/Auth/ForgotPassword.js
  packages/admin/src/components/Auth/ResetPassword.js
  packages/admin/src/providers/authProvider.js
  packages/admin/src/providers/dataProvider.js
  packages/api/.dockerignore
  packages/api/.env.example
  packages/api/.env.testing
  packages/api/Dockerfile
  packages/api/Dockerfile.dev
  packages/api/docker-compose.yml
  packages/api/package.json
  packages/web/.dockerignore
  packages/web/.env.example
  packages/web/.env.testing
  packages/web/Dockerfile
  packages/web/components/Algolia/provider.js
  packages/web/components/GoogleMaps/index.js
  packages/web/components/Modal/CurateTechnologyModal/Documents/index.js
  packages/web/components/head.js
  packages/web/config.js
  packages/web/next.config.js
  packages/web/package.json
  packages/web/pages/_app.js
  packages/web/services/api.js
Labels: DEVOPS

#533 Fix delete Technology
  packages/api/database/migrations/1595452149357_technology_user_schema.js
  packages/api/database/migrations/1595452149358_technology_review_schema.js
  packages/api/database/migrations/1595452149359_technology_costs_schema.js
  packages/api/database/migrations/1595452149360_costs_schema.js
  packages/api/database/migrations/1595452149361_user_bookmark_schema.js
  packages/api/database/migrations/1600126316432_reviewer_technology_schema.js
  packages/api/database/migrations/1601327605261_revision_schema.js
Labels: API

#554 Update testing scripts to set APP_ENV
  packages/web/package.json
Labels: WEB, bug

#551 fix(web): update header styles
  packages/web/components/HamburguerMenu/styles.js
  packages/web/components/Header/Header.js
Labels: WEB, bug

#558 Definir imagem padrão do thumbnail
  packages/web/__tests__/pages/user/my-account/__snapshots__/index.js.snap
  packages/web/components/Authorization/__tests__/__snapshots__/Protected.js.snap
  packages/web/components/Button/styles.js
  packages/web/components/Card/Share/__tests__/__snapshots__/index.js.snap
  packages/web/components/Form/InputField.js
  packages/web/components/Form/__tests__/__snapshots__/CurrencyInputField.js.snap
  packages/web/components/Form/__tests__/__snapshots__/Fields.js.snap
  packages/web/components/Form/__tests__/__snapshots__/MaskedInputField.js.snap
  packages/web/components/Form/styles.js
  packages/web/components/Modal/ShareModal/styles.js
  packages/web/components/TechnologyForm/Costs/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/MapAndAttachments/ImagesPreview.js
  packages/web/components/TechnologyForm/MapAndAttachments/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/MapAndAttachments/index.js
  packages/web/components/TechnologyForm/MapAndAttachments/styles.js
  packages/web/components/TechnologyForm/Responsible/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/Review/__tests__/__snapshots__/index.js.snap
  packages/web/pages/technology/[id]/edit.js
Labels: WEB, comp:technologies, complexity:medium, enhancement

#559 Fix Show Technology Terms
  packages/api/app/Controllers/Http/TechnologyController.js
  packages/api/app/Models/Traits/Params.js
Labels: API, bug, comp:technologies

#552 Adquirir tecnologia
  packages/web/__tests__/pages/t/__snapshots__/index.js.snap
  packages/web/__tests__/pages/user/my-account/__snapshots__/index.js.snap
  packages/web/components/Authorization/__tests__/__snapshots__/Protected.js.snap
  packages/web/components/Button/Button.js
  packages/web/components/Modal/BuyTechnologyModal/index.js
  packages/web/components/Modal/BuyTechnologyModal/styles.js
  packages/web/components/Modal/CurateTechnologyModal/styles.js
  packages/web/components/Modal/LoginModal/index.js
  packages/web/components/Modal/ModalProvider.js
  packages/web/components/Modal/__tests__/BuyTechnologyModal.js
  packages/web/components/Modal/__tests__/__snapshots__/BuyTechnologyModal.js.snap
  packages/web/components/Technology/Details/Header.js
  packages/web/components/Technology/Details/__tests__/Header.js
  packages/web/components/TechnologyForm/Review/__tests__/__snapshots__/index.js.snap
Labels: WEB, comp:technologies, enhancement

#540 Feature/api/requested changes reviewer
  packages/api/app/Controllers/Http/TechnologyController.js
  packages/api/app/Models/Permission.js
  packages/api/app/Models/Technology.js
  packages/api/app/Models/TechnologyComment.js
  packages/api/app/Models/Traits/Params.js
  packages/api/app/Models/User.js
  packages/api/app/Utils/roles_capabilities.js
  packages/api/database/migrations/1603315501405_technology_comment_schema.js
  packages/api/database/seeds/5_PermissionSeeder.js
  packages/api/resources/locales/en/message.json
  packages/api/resources/locales/pt/message.json
  packages/api/resources/views/emails/changes-made.edge
  packages/api/start/routes/technologies.js
  packages/api/test/functional/technology.spec.js
Labels: API, comp:curation, enhancement

#550 [RTBM] hotfix TecnologiesForm
  packages/admin/src/pages/technologies/Form/index.js
  packages/admin/src/pages/technologies/Form/statusForm.js
  packages/admin/src/pages/technologies/list.js
  packages/admin/src/pages/terms/Form/index.js
Labels: ADMIN, bug

#566 Detalhes da tecnologia - Ajustar default values da função de normalização do TRL
  packages/web/utils/technology.js
Labels: WEB, comp:technologies, improvements

#567 Contact us page
  packages/web/__tests__/pages/user/my-account/__snapshots__/index.js.snap
  packages/web/components/Authorization/__tests__/__snapshots__/Protected.js.snap
  packages/web/components/Card/Share/__tests__/__snapshots__/index.js.snap
  packages/web/components/Form/InputField.js
  packages/web/components/Form/MaskedInputField.js
  packages/web/components/Form/SelectField.js
  packages/web/components/Form/TextField.js
  packages/web/components/Form/__tests__/__snapshots__/CurrencyInputField.js.snap
  packages/web/components/Form/__tests__/__snapshots__/Fields.js.snap
  packages/web/components/Form/__tests__/__snapshots__/MaskedInputField.js.snap
  packages/web/components/Form/styles.js
  packages/web/components/Header/Header.js
  packages/web/components/Header/links.js
  packages/web/components/Modal/ContactUsSuccessModal/index.js
  packages/web/components/Modal/ModalProvider.js
  packages/web/components/TechnologyForm/Costs/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/MapAndAttachments/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/Responsible/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/Review/__tests__/__snapshots__/index.js.snap
  packages/web/pages/contact-us.js
  packages/web/public/charity-rafiki.svg
  packages/web/public/waves-rafiki-contact.svg
Labels: WEB, enhancement
