Repository ufersa/plataforma-sabia, pull requests merged in 2020-06, with the labels that each got.

#147 Refactor/frontend update
  packages/api/app/Commands/AlgoliaIndex.js
  packages/api/database/factory.js
  packages/api/database/seeds/2_TaxonomySeeder.js
  packages/api/database/seeds/3_TermSeeder.js
  packages/api/database/seeds/4_TechnologySeeder.js
  packages/web/components/Algolia/debouncedSearchBox.js
  packages/web/components/Algolia/hitCard.js
  packages/web/components/Algolia/sortBy.js
  packages/web/components/Card/Card.js
  packages/web/components/Card/styles.js
  packages/web/components/Hero/HeroSearch/SearchItem.js
  packages/web/components/MainSearch/MainSearch.js
  packages/web/components/TechnologiesSection/TechnologiesSection.js
  packages/web/pages/index.js
  packages/web/pages/search.js
  packages/web/public/static/locales/en/card.json
  packages/web/public/static/locales/en/helper.json
  packages/web/public/static/locales/en/search.json
  packages/web/public/static/locales/pt/card.json
  packages/web/public/static/locales/pt/helper.json
  packages/web/public/static/locales/pt/search.json
  packages/web/utils/__tests__/helper.js
  packages/web/utils/algoliaHelper.js
  packages/web/utils/fakeData.js
  packages/web/utils/helper.js
Labels: WEB, comp:search, comp:technologies

#87 Feature/api/implements confirmation email
  .travis.yml
  cypress/e2e/web/login.js
  cypress/e2e/web/register.js
  cypress/support/commands.js
  packages/api/app/Controllers/Http/AuthController.js
  packages/api/app/Models/User.js
  packages/api/app/Utils/errors.js
  packages/api/app/Validators/ConfirmAccount.js
  packages/api/database/factory.js
  packages/api/database/migrations/1590493369144_users_schema.js
  packages/api/database/seeds/0_RoleSeeder.js
  packages/api/database/seeds/1_UserSeeder.js
  packages/api/package.json
  packages/api/resources/locales/en/error.json
  packages/api/resources/locales/en/message.json
  packages/api/resources/locales/pt/error.json
  packages/api/resources/locales/pt/message.json
  packages/api/resources/views/emails/active-account.edge
  packages/api/resources/views/emails/confirm-account.edge
  packages/api/start/routes.js
  packages/api/test/functional/auth.spec.js
  packages/web/components/Modal/EmailConfirmationModal/index.js
  packages/web/components/Modal/LoginModal/index.js
  packages/web/components/Modal/ModalProvider.js
  packages/web/components/User/UserProvider.js
  packages/web/pages/index.js
  packages/web/public/static/locales/en/common.json
  packages/web/public/static/locales/pt/common.json
  packages/web/services/auth.js
Labels: API, WEB

#168 Feature/improve technology routes
  packages/api/app/Controllers/Http/TechnologyController.js
  packages/api/app/Models/Technology.js
  packages/api/app/Models/User.js
  packages/api/app/Utils/index.js
  packages/api/app/Utils/transaction.js
  packages/api/test/functional/technology.spec.js
  packages/api/test/unit/algolia.spec.js
Labels: API, comp:technologies

#161 Feature/Web/Protected Components
  cypress/e2e/web/login.js
  packages/web/components/Authorization/NotAuthorized.js
  packages/web/components/Authorization/Protected.js
  packages/web/components/Authorization/__tests__/Protected.js
  packages/web/components/Authorization/__tests__/__snapshots__/Protected.js.snap
  packages/web/components/Authorization/index.js
  packages/web/components/Modal/LoginModal/index.js
  packages/web/components/User/UserProvider.js
  packages/web/pages/technology/new.js
  packages/web/public/static/locales/en/error.json
  packages/web/public/static/locales/pt/error.json
  packages/web/tests/test-utils.js
Labels: WEB, enhancement

#202 Feature/api/embedding
  packages/api/app/Controllers/Http/PermissionController.js
  packages/api/app/Controllers/Http/RoleController.js
  packages/api/app/Controllers/Http/TaxonomyController.js
  packages/api/app/Controllers/Http/TechnologyController.js
  packages/api/app/Controllers/Http/TermController.js
  packages/api/app/Controllers/Http/UserController.js
  packages/api/app/Middleware/HandleParam.js
  packages/api/app/Models/Traits/Params.js
  packages/api/start/routes.js
  packages/api/test/functional/params.spec.js
  packages/api/test/functional/taxonomy.spec.js
  packages/api/test/functional/term.spec.js
Labels: API

#182 Feature/Web/SafeHTML Component
  packages/web/components/Header/NewTechnologyButton.js
  packages/web/components/Modal/RegisterModal/index.js
  packages/web/components/SafeHtml/SafeHtml.js
  packages/web/components/SafeHtml/__tests__/SafeHtml.js
  packages/web/components/SafeHtml/__tests__/__snapshots__/SafeHtml.js.snap
  packages/web/components/SafeHtml/index.js
  packages/web/components/TechnologiesSection/TechnologiesSection.js
  packages/web/package-lock.json
  packages/web/package.json
Labels: WEB, enhancement, security

#230 CRUD of Users in Package admin
  packages/admin/src/App.js
  packages/admin/src/pages/roles/Form/index.js
  packages/admin/src/pages/roles/create.js
  packages/admin/src/pages/roles/edit.js
  packages/admin/src/pages/roles/index.js
  packages/admin/src/pages/roles/list.js
  packages/admin/src/pages/users/Form/index.js
  packages/admin/src/pages/users/create.js
  packages/admin/src/pages/users/edit.js
  packages/admin/src/pages/users/index.js
  packages/admin/src/pages/users/list.js
  packages/api/app/Controllers/Http/RoleController.js
  packages/api/app/Controllers/Http/UserController.js
  packages/api/app/Validators/UpdateRole.js
  packages/api/app/Validators/UpdateUser.js
  packages/api/database/seeds/1_UserSeeder.js
  packages/api/test/functional/role.spec.js
  packages/api/test/functional/user.spec.js
Labels: ADMIN, API

#258 Feature/my account section
  cypress/e2e/web/login.js
  packages/web/components/Card/Card.js
  packages/web/components/DataGrid/DataGrid.js
  packages/web/components/DataGrid/index.js
  packages/web/components/DataGrid/styles.js
  packages/web/components/Header/UserHeader.js
  packages/web/components/UserProfile/UserProfile.js
  packages/web/components/UserProfile/index.js
  packages/web/components/UserProfile/styles.js
  packages/web/pages/_app.js
  packages/web/pages/user/my-account/index.js
  packages/web/public/static/locales/en/account.json
  packages/web/public/static/locales/en/datagrid.json
  packages/web/public/static/locales/en/profile.json
  packages/web/public/static/locales/pt/account.json
  packages/web/public/static/locales/pt/datagrid.json
  packages/web/public/static/locales/pt/profile.json
  packages/web/services/__tests__/user.js
  packages/web/services/index.js
  packages/web/services/user.js
Labels: WEB, comp:technologies, enhancement

#270 Improve tests coverage
  packages/web/services/__tests__/auth.js
Labels: WEB, tests
