Repository ufersa/plataforma-sabia, pull requests merged in 2020-11, with the labels that each got.

#580 Ajustar modal de revisão de curadoria
  packages/web/components/Modal/CurateTechnologyModal/index.js
  packages/web/services/technology.js
Labels: WEB, bug, comp:curation, complexity:easy

#592 Technology Form - Quantity field is not a number
  packages/web/components/TechnologyForm/Costs/CostsTable.js
Labels: WEB, bug, comp:technologies, complexity:easy

#555 Tela Perfil do Curador
  packages/web/__tests__/pages/user/my-account/__snapshots__/revisions.js.snap
  packages/web/__tests__/pages/user/my-account/curate/__snapshots__/profile.js.snap
  packages/web/__tests__/pages/user/my-account/curate/profile.js
  packages/web/components/CurateSpecialties/CurateFormSpecialties.js
  packages/web/components/CurateSpecialties/CurateSpecialties.js
  packages/web/components/CurateSpecialties/index.js
  packages/web/components/HeaderProfile/HeaderProfile.js
  packages/web/components/HeaderProfile/index.js
  packages/web/components/Modal/CurateSpecialtiesDeleteModal/index.js
  packages/web/components/Modal/CurateSpecialtiesDeleteModal/styles.js
  packages/web/components/Modal/ModalProvider.js
  packages/web/components/TechnologyForm/Costs/__tests__/__snapshots__/index.js.snap
  packages/web/components/UserProfile/PageLink.js
  packages/web/components/UserProfile/UserProfile.js
  packages/web/components/UserProfile/__tests__/__snapshots__/UserProfileDropDown.js.snap
  packages/web/components/UserProfile/pages.js
  packages/web/pages/user/my-account/curate-profile.js
  packages/web/public/pattern.png
  packages/web/public/static/locales/en/helper.json
  packages/web/public/static/locales/en/profile.json
  packages/web/public/static/locales/pt/helper.json
  packages/web/public/static/locales/pt/profile.json
  packages/web/services/__tests__/reviewer.js
  packages/web/services/index.js
  packages/web/services/reviewer.js
Labels: WEB, comp:curation

#589 Add comment text area to technology register/edit summary
  cypress/e2e/web/createTechnology.js
  packages/web/components/TechnologyForm/Review/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/Review/index.js
  packages/web/pages/technology/[id]/edit.js
  packages/web/services/__tests__/technology.js
  packages/web/services/technology.js
Labels: WEB, enhancement

#587 Processo de Aquisição de tecnologia
  packages/api/app/Controllers/Http/TechnologyController.js
  packages/api/app/Exceptions/Handler.js
  packages/api/app/Exceptions/RegistrationUncompletedException.js
  packages/api/app/Middleware/RegistrationCompleted.js
  packages/api/app/Models/TechnologyOrder.js
  packages/api/app/Models/User.js
  packages/api/app/Utils/errors.js
  packages/api/app/Utils/statuses.js
  packages/api/app/Validators/CreateOrder.js
  packages/api/database/migrations/1604078275862_technology_order_schema.js
  packages/api/resources/locales/en/error.json
  packages/api/resources/locales/en/message.json
  packages/api/resources/locales/pt/error.json
  packages/api/resources/locales/pt/message.json
  packages/api/resources/views/emails/technology-order.edge
  packages/api/start/kernel.js
  packages/api/start/routes/reviewers.js
  packages/api/start/routes/technologies.js
  packages/api/test/functional/reviewer.spec.js
  packages/api/test/functional/technology.spec.js
  packages/api/test/functional/user.spec.js
  packages/web/components/UserProfile/BeAReviewerButton.js
  packages/web/components/UserProfile/__tests__/BeAReviewerButton.js
  packages/web/package-lock.json
  packages/web/services/__tests__/user.js
Labels: API, URGENT, comp:order

#593 Technology Form - The initial cost amount is inappropriately displayed after deleting all costs
  packages/web/components/Form/Repeater.js
  packages/web/components/Summary/index.js
  packages/web/components/TechnologyForm/Costs/CostsTableFooter.js
  packages/web/components/TechnologyForm/Costs/index.js
Labels: WEB, bug, comp:technologies

#590 filtros de busca em tecnologias no ADMIN
  packages/admin/src/components/TechnologyFilterBar.js
  packages/admin/src/components/index.js
  packages/admin/src/pages/reviewers/list.js
  packages/admin/src/pages/roles/list.js
  packages/admin/src/pages/taxonomy/list.js
  packages/admin/src/pages/technologies/list.js
  packages/admin/src/pages/users/list.js
  packages/api/app/Models/Technology.js
Labels: ADMIN

#594 Add checkboxes to "be a reviewer" modal
  packages/web/__tests__/pages/user/my-account/__snapshots__/index.js.snap
  packages/web/components/Authorization/__tests__/__snapshots__/Protected.js.snap
  packages/web/components/Form/CheckBoxField.js
  packages/web/components/Form/__tests__/__snapshots__/Fields.js.snap
  packages/web/components/Modal/BeAReviewerModal/index.js
  packages/web/components/Modal/__tests__/BeAReviewerModal.js
  packages/web/components/TechnologyForm/Review/__tests__/__snapshots__/index.js.snap
Labels: WEB, enhancement

#595 Show technology average rating at technology details page
  packages/web/__tests__/pages/t/__snapshots__/index.js.snap
  packages/web/components/Technology/Details/Section.js
  packages/web/components/Technology/Details/Tabs/Review/index.js
  packages/web/components/Technology/Details/Tabs/Review/styles.js
  packages/web/components/TechnologyForm/Review/__tests__/__snapshots__/index.js.snap
  packages/web/utils/__tests__/helper.js
  packages/web/utils/helper.js
Labels: WEB, enhancement

#599 Corrigir o z-index do slider
  packages/web/__tests__/pages/t/__snapshots__/index.js.snap
  packages/web/components/Technology/Details/ImagesCarousel/styles.js
Labels: WEB, bug

#591 [WEB] Update search filters
  packages/web/components/Algolia/index.js
  packages/web/components/Algolia/rangeSliderWithPanel.js
  packages/web/components/MainSearch/MainSearch.js
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/pages/search.js
  packages/web/public/static/locales/en/common.json
  packages/web/public/static/locales/en/search.json
  packages/web/public/static/locales/pt/common.json
  packages/web/public/static/locales/pt/search.json
  packages/web/utils/algoliaHelper.js
Labels: WEB, comp:search, improvements

#584 Incluir checkbox dos termos de uso no cadastro de usuários
  cypress/support/commands.js
  packages/web/components/Button/styles.js
  packages/web/components/Modal/RegisterModal/index.js
  packages/web/components/Modal/RegisterModal/styles.js
  packages/web/components/Modal/__tests__/RegisterModal.js
  packages/web/components/Modal/__tests__/__snapshots__/RegisterModal.js.snap
Labels: URGENT, WEB, comp:users

#601 Contact Us Feature
  packages/api/app/Controllers/Http/ContactController.js
  packages/api/app/Jobs/SendMail.js
  packages/api/app/Validators/StoreContact.js
  packages/api/resources/views/emails/contact-us.edge
  packages/api/start/jobs.js
  packages/api/start/routes/contact.js
  packages/api/start/routes/index.js
  packages/api/test/functional/contact.spec.js
  packages/api/test/utils/BullMock.js
  packages/api/vowfile.js
Labels: API, URGENT, enhancement

#616 hotfix(api): platform admin email on config
  packages/api/config/mail.js
Labels: API, bug

#612 Technology cannot be distributed to related users
  packages/api/app/Utils/technology_distribution.js
  packages/api/test/unit/technology-distribution.spec.js
Labels: API, comp:curation

#583 [API] Atualizar filtros da busca
  packages/api/app/Commands/AlgoliaIndex.js
  packages/api/app/Controllers/Http/TechnologyController.js
  packages/api/app/Controllers/Http/TechnologyCostController.js
  packages/api/app/Utils/algolia.js
  packages/api/app/Utils/index.js
  packages/api/test/functional/technology-cost.spec.js
  packages/api/test/functional/technology.spec.js
  packages/web/package-lock.json
Labels: API, enhancement

#622 Remove unfinished features
  packages/web/__tests__/pages/t/__snapshots__/index.js.snap
  packages/web/components/Header/Header.js
  packages/web/components/Technology/Details/Header.js
  packages/web/package-lock.json
Labels: WEB

#624 Include comments field in technology register form: review step
  packages/web/components/Form/FormWizard.js
  packages/web/components/Form/HelpModal.js
  packages/web/components/Form/RadioField.js
  packages/web/components/Modal/CurateTechnologyModal/index.js
  packages/web/components/Modal/CurateTechnologyModal/styles.js
  packages/web/components/Modal/__tests__/__snapshots__/BuyTechnologyModal.js.snap
  packages/web/components/TechnologyForm/Review/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/Review/index.js
  packages/web/pages/technology/[id]/edit.js
  packages/web/services/__tests__/technology.js
  packages/web/services/technology.js
  packages/web/utils/helper.js
Labels: WEB, comp:curation, enhancement

#596 Includes new fields in Technology Cost Schema
  packages/api/app/Controllers/Http/TechnologyCostController.js
  packages/api/app/Validators/UpdateTechnologyCost.js
  packages/api/database/factory.js
  packages/api/database/migrations/1604445504091_technology_cost_add_is_seller_price_schema.js
  packages/api/database/migrations/1604445819985_cost_measure_unit_schema.js
  packages/api/test/functional/technology-cost.spec.js
Labels: API, comp:technologies

#628 Lista de Meus pedidos do usuário
  packages/web/__tests__/pages/user/my-account/__snapshots__/revisions.js.snap
  packages/web/__tests__/pages/user/my-account/curate/__snapshots__/profile.js.snap
  packages/web/components/Button/IconButton.js
  packages/web/components/Button/index.js
  packages/web/components/Button/styles.js
  packages/web/components/Form/TextField.js
  packages/web/components/Modal/CancelOrderModal/index.js
  packages/web/components/Modal/CancelOrderModal/styles.js
  packages/web/components/Modal/ModalProvider.js
  packages/web/components/Modal/OrderDetailsModal/index.js
  packages/web/components/Modal/OrderDetailsModal/styles.js
  packages/web/components/OrderMessages/index.js
  packages/web/components/OrderMessages/styles.js
  packages/web/components/UserProfile/PageLink.js
  packages/web/components/UserProfile/__tests__/__snapshots__/UserProfileDropDown.js.snap
  packages/web/components/UserProfile/pages.js
  packages/web/pages/user/my-account/my-orders.js
  packages/web/public/feeling-blue-rafiki.svg
  packages/web/public/no-avatar-placeholder.png
  packages/web/public/static/locales/en/account.json
  packages/web/public/static/locales/en/profile.json
  packages/web/public/static/locales/pt/account.json
  packages/web/public/static/locales/pt/profile.json
  packages/web/styles/theme.js
  packages/web/utils/enums/orders.enum.js
Labels: WEB, comp:order, enhancement

#605 Improve TechnologiesForm
  packages/admin/package-lock.json
  packages/admin/package.json
  packages/admin/public/env.js
  packages/admin/src/pages/technologies/Form/AboutForm.js
  packages/admin/src/pages/technologies/Form/AttachmentsForm.js
  packages/admin/src/pages/technologies/Form/CostForm.js
  packages/admin/src/pages/technologies/Form/MapForm.js
  packages/admin/src/pages/technologies/Form/ResponsibleForm.js
  packages/admin/src/pages/technologies/Form/index.js
Labels: ADMIN, comp:technologies

#627 Improving crud Terms
  packages/admin/src/pages/terms/Form/index.js
  packages/api/app/Controllers/Http/TermController.js
  packages/api/app/Validators/StoreTerm.js
  packages/api/app/Validators/UpdateTerm.js
  packages/api/start/routes/terms.js
Labels: ADMIN, API

#562 Adicionar videos na aba de mapas e anexos
  packages/api/app/Controllers/Http/TechnologyController.js
  packages/api/database/migrations/1603847242248_technology_videos_schema.js
  packages/api/test/functional/technology.spec.js
  packages/web/__tests__/pages/t/__snapshots__/index.js.snap
  packages/web/components/Technology/Details/Tabs/Attachments.js
  packages/web/components/Technology/Details/Videos.js
  packages/web/components/TechnologyForm/MapAndAttachments/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/MapAndAttachments/__tests__/__snapshots__/styles.js.snap
  packages/web/components/TechnologyForm/MapAndAttachments/__tests__/index.js
  packages/web/components/TechnologyForm/MapAndAttachments/__tests__/styles.js
  packages/web/components/TechnologyForm/MapAndAttachments/index.js
  packages/web/components/TechnologyForm/MapAndAttachments/styles.js
  packages/web/components/TechnologyForm/Review/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/Review/index.js
  packages/web/components/TechnologyForm/Review/styles.js
  packages/web/package-lock.json
  packages/web/pages/technology/[id]/edit.js
  packages/web/utils/__tests__/helper.js
  packages/web/utils/helper.js
  packages/web/utils/technology.js
Labels: API, WEB, comp:technologies

#635 Improve modal component controls
  packages/web/components/Modal/ModalProvider.js
  packages/web/components/Modal/__tests__/index.js
Labels: WEB, enhancement

#621 Apply adjustments to register technology form
  cypress/e2e/web/createTechnology.js
  packages/web/components/Form/FormWizard.js
  packages/web/components/Form/HelpModal.js
  packages/web/components/Form/TextField.js
  packages/web/components/Form/__tests__/__snapshots__/Fields.js.snap
  packages/web/components/Technology/Details/Tables/Costs.js
  packages/web/components/TechnologyForm/Costs/CostsTable.js
  packages/web/components/TechnologyForm/Costs/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/Costs/__tests__/index.js
  packages/web/components/TechnologyForm/Costs/index.js
  packages/web/components/TechnologyForm/Details.js
  packages/web/components/TechnologyForm/Responsible/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/Responsible/index.js
  packages/web/components/TechnologyForm/Review/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/Review/index.js
  packages/web/pages/technology/[id]/edit.js
  packages/web/public/lattes.jpg
  packages/web/services/__tests__/technology.js
  packages/web/utils/technology.js
Labels: WEB, enhancement

#620 List only published technologies 🚀
  .vscode/launch.json
  packages/api/ace.js
  packages/api/app/Commands/AlgoliaIndex.js
  packages/api/app/Controllers/Http/TechnologyController.js
  packages/api/app/Middleware/Published.js
  packages/api/app/Models/Technology.js
  packages/api/database/factory.js
  packages/api/start/kernel.js
  packages/api/start/routes/technologies.js
  packages/api/test/functional/params.spec.js
  packages/api/test/functional/technology.spec.js
  packages/web/package-lock.json
Labels: API, URGENT, comp:search

#649 build: only run ci in PR
  .github/workflows/automated-tests.yml
Labels: ADMIN, DEVOPS, improvements

#569 Institutions CRUD 🏦
  packages/api/app/Controllers/Http/InstitutionController.js
  packages/api/app/Models/Institution.js
  packages/api/app/Models/Permission.js
  packages/api/app/Models/Traits/Params.js
  packages/api/app/Models/User.js
  packages/api/app/Utils/CustomValidators/cnpj.js
  packages/api/app/Utils/CustomValidators/cpf.js
  packages/api/app/Utils/CustomValidators/exists.js
  packages/api/app/Utils/CustomValidators/index.js
  packages/api/app/Utils/roles_capabilities.js
  packages/api/app/Validators/StoreInstitution.js
  packages/api/app/Validators/UpdateInstitution.js
  packages/api/app/Validators/UpdateUser.js
  packages/api/app/Validators/User.js
  packages/api/database/factory.js
  packages/api/database/migrations/1603847242248_technology_videos_schema.js
  packages/api/database/migrations/1603935013814_institutions_schema.js
  packages/api/database/migrations/1603935638313_users_institution_id_schema.js
  packages/api/database/seeds/1_UserSeeder.js
  packages/api/database/seeds/5_PermissionSeeder.js
  packages/api/resources/locales/en/error.json
  packages/api/resources/locales/pt/error.json
  packages/api/start/hooks.js
  packages/api/start/routes/index.js
  packages/api/start/routes/institutions.js
  packages/api/test/functional/institution.spec.js
  packages/api/test/functional/user.spec.js
  packages/api/test/unit/cnpj.spec.js
  packages/api/test/unit/cpf.spec.js
  packages/api/test/utils/Suts.js
Labels: API, comp:users, enhancement

#574 📦 Update Node version to v14 (LTS) ⭐️
  .github/workflows/automated-tests.yml
  .github/workflows/build-and-deploy-image-to-staging-vps.yml
  .github/workflows/build-and-deploy-image-to-vps.yml
  .nvmrc
  package.json
  packages/admin/Dockerfile
  packages/api/Dockerfile
  packages/api/Dockerfile.dev
  packages/web/Dockerfile
Labels: DEVOPS, Epic, improvements

#652 📦 Upgrading Next.js 9 to 10 ⭐️
  packages/web/package-lock.json
  packages/web/package.json
Labels: Epic, WEB, improvements

#651 Improvements in technology details page
  cypress/e2e/web/technologyDetails.js
  packages/web/__tests__/pages/t/__snapshots__/index.js.snap
  packages/web/components/Algolia/index.js
  packages/web/components/Algolia/smallSearchBox.js
  packages/web/components/Card/Likes/index.js
  packages/web/components/Card/Share/__tests__/__snapshots__/index.js.snap
  packages/web/components/Card/Share/styles.js
  packages/web/components/Modal/ImagesGalleryModal/index.js
  packages/web/components/Modal/ImagesGalleryModal/styles.js
  packages/web/components/Modal/ModalProvider.js
  packages/web/components/Tab/styles.js
  packages/web/components/Technology/Details/Header.js
  packages/web/components/Technology/Details/ImagesCarousel/index.js
  packages/web/components/Technology/Details/ImagesCarousel/styles.js
  packages/web/components/Technology/Details/Search.js
  packages/web/components/Technology/Details/Section.js
  packages/web/components/Technology/Details/Tabs/Attachments.js
  packages/web/components/Technology/Details/Tabs/Costs.js
  packages/web/components/Technology/Details/Tabs/index.js
  packages/web/components/Technology/Details/__tests__/Header.js
  packages/web/components/TechnologyForm/Review/__tests__/__snapshots__/index.js.snap
  packages/web/pages/t/[technology]/index.js
Labels: WEB, comp:technologies, improvements

#657 Fix duplicated Google Maps API
  packages/web/components/GoogleMaps/index.js
  packages/web/components/head.js
  packages/web/pages/_app.js
Labels: WEB, bug

#655 Closes Technology Order
  packages/api/app/Controllers/Http/TechnologyOrderController.js
  packages/api/app/Models/Permission.js
  packages/api/app/Utils/errors.js
  packages/api/app/Utils/roles_capabilities.js
  packages/api/app/Utils/statuses.js
  packages/api/app/Validators/CloseOrder.js
  packages/api/database/seeds/5_PermissionSeeder.js
  packages/api/resources/locales/en/error.json
  packages/api/resources/locales/en/message.json
  packages/api/resources/locales/pt/error.json
  packages/api/resources/locales/pt/message.json
  packages/api/resources/views/emails/technology-order-closed.edge
  packages/api/start/routes/index.js
  packages/api/start/routes/technologyOrders.js
  packages/api/test/functional/technology-order.spec.js
Labels: API, comp:order, enhancement

#485 Disclaimers no cadastro de usuário
  packages/api/app/Controllers/Http/AuthController.js
  packages/api/app/Controllers/Http/DisclaimerController.js
  packages/api/app/Controllers/Http/TermController.js
  packages/api/app/Middleware/DisclaimerMiddleware.js
  packages/api/app/Models/Disclaimer.js
  packages/api/app/Models/Traits/Params.js
  packages/api/app/Models/User.js
  packages/api/app/Utils/errors.js
  packages/api/app/Validators/Disclaimer.js
  packages/api/app/Validators/DisclaimerAccept.js
  packages/api/app/Validators/User.js
  packages/api/database/migrations/1602508798791_disclaimers_schema.js
  packages/api/database/migrations/1602508826556_user_disclaimer_schema.js
  packages/api/database/seeds/10_DisclaimerSeeder.js
  packages/api/package.json
  packages/api/resources/locales/en/error.json
  packages/api/resources/locales/pt/error.json
  packages/api/start/kernel.js
  packages/api/start/routes/auth.js
  packages/api/start/routes/disclaimers.js
  packages/api/start/routes/index.js
  packages/api/test/functional/auth.spec.js
  packages/api/test/functional/disclaimers.spec.js
  packages/api/test/functional/institution.spec.js
  packages/api/test/functional/params.spec.js
  packages/api/test/functional/permission.spec.js
  packages/api/test/functional/reviewer.spec.js
  packages/api/test/functional/role.spec.js
  packages/api/test/functional/taxonomy.spec.js
  packages/api/test/functional/technology-cost.spec.js
  packages/api/test/functional/technology-order.spec.js
  packages/api/test/functional/technology-review.spec.js
  packages/api/test/functional/technology.spec.js
  packages/api/test/functional/term.spec.js
  packages/api/test/functional/upload.spec.js
  packages/api/test/functional/user-bookmark.spec.js
  packages/api/test/functional/user.spec.js
  packages/api/test/utils/Suts.js
  packages/web/services/__tests__/auth.js
  packages/web/services/auth.js
Labels: API, WEB, comp:users

#637 Remove warnings from web tests
  packages/web/components/Modal/CurateTechnologyModal/__tests__/index.js
  packages/web/components/Modal/__tests__/BeAReviewerModal.js
  packages/web/components/TechnologyForm/MapAndAttachments/index.js
  packages/web/components/TechnologyForm/Review/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/Review/__tests__/index.js
  packages/web/components/UserProfile/PageLink.js
  packages/web/components/UserProfile/__tests__/BeAReviewerButton.js
  packages/web/components/UserProfile/__tests__/__snapshots__/BeAReviewerButton.js.snap
Labels: WEB, bug

#661 [Feat] Adds maintenance page
  packages/web/components/Header/Header.js
  packages/web/components/Header/links.js
  packages/web/components/Maintenance/index.js
  packages/web/components/Maintenance/styles.js
  packages/web/pages/categories.js
  packages/web/pages/developers.js
  packages/web/pages/platform.js
  packages/web/public/building-blocks-rafiki.svg
Labels: WEB, enhancement

#646 [WEB] FAQ
  packages/web/__tests__/pages/t/__snapshots__/index.js.snap
  packages/web/__tests__/pages/user/my-account/__snapshots__/revisions.js.snap
  packages/web/__tests__/pages/user/my-account/curate/__snapshots__/profile.js.snap
  packages/web/components/Modal/CurateTechnologyModal/styles.js
  packages/web/components/Modal/ModalProvider.js
  packages/web/components/Modal/QuestionDetailsModal/index.js
  packages/web/components/Modal/QuestionDetailsModal/styles.js
  packages/web/components/Technology/Details/Tabs/FAQ/Question.js
  packages/web/components/Technology/Details/Tabs/FAQ/index.js
  packages/web/components/Technology/Details/Tabs/FAQ/styles.js
  packages/web/components/Technology/Details/Tabs/index.js
  packages/web/components/UserProfile/PageLink.js
  packages/web/components/UserProfile/UserProfile.js
  packages/web/components/UserProfile/UserProfileDropDown.js
  packages/web/components/UserProfile/__tests__/__snapshots__/UserProfileDropDown.js.snap
  packages/web/components/UserProfile/pages.js
  packages/web/pages/user/my-account/questions.js
  packages/web/public/static/locales/en/account.json
  packages/web/public/static/locales/en/profile.json
  packages/web/public/static/locales/pt/account.json
  packages/web/public/static/locales/pt/profile.json
  packages/web/utils/enums/questions.enum.js
  packages/web/utils/helper.js
Labels: WEB, comp:technologies, enhancement

#659 Cancels Technology Order
  packages/api/app/Controllers/Http/TechnologyOrderController.js
  packages/api/app/Models/Permission.js
  packages/api/resources/locales/en/message.json
  packages/api/resources/locales/pt/message.json
  packages/api/resources/views/emails/technology-order-cancelled.edge
  packages/api/start/routes/technologyOrders.js
  packages/api/test/functional/technology-order.spec.js
Labels: API, comp:order

#656 Block technology edit based on status
  packages/web/components/Authorization/NotAuthorized.js
  packages/web/components/Authorization/Protected.js
  packages/web/pages/technology/[id]/edit.js
  packages/web/public/static/locales/en/error.json
  packages/web/public/static/locales/pt/error.json
Labels: WEB, improvements

#664 Disclaimers de conflito de interesse
  packages/api/app/Utils/statuses.js
  packages/api/app/Validators/Disclaimer.js
  packages/api/database/factory.js
  packages/api/database/migrations/1605981580411_refactor_disclaimers_status_schema.js
  packages/api/database/seeds/10_DisclaimerSeeder.js
  packages/api/start/routes/auth.js
  packages/api/start/routes/disclaimers.js
  packages/api/start/routes/reviewers.js
  packages/api/test/functional/disclaimers.spec.js
  packages/web/services/user.js
Labels: API, comp:curation

#641 Visualização de pedidos no ADMIN
  packages/admin/src/App.js
  packages/admin/src/components/StatusForm.js
  packages/admin/src/components/index.js
  packages/admin/src/pages/reviewers/Form/statusForm.js
  packages/admin/src/pages/reviewers/edit.js
  packages/admin/src/pages/technologies/Form/index.js
  packages/admin/src/pages/technologyOrder/FilterBar.js
  packages/admin/src/pages/technologyOrder/Form/index.js
  packages/admin/src/pages/technologyOrder/edit.js
  packages/admin/src/pages/technologyOrder/index.js
  packages/admin/src/pages/technologyOrder/list.js
  packages/api/app/Controllers/Http/TechnologyController.js
  packages/api/app/Controllers/Http/TechnologyOrderController.js
  packages/api/app/Models/Technology.js
  packages/api/app/Models/TechnologyOrder.js
  packages/api/app/Models/Traits/Params.js
  packages/api/app/Validators/UpdateOrderStatus.js
  packages/api/database/factory.js
  packages/api/database/seeds/11_TechnologyOrderSeeder.js
  packages/api/database/seeds/1_UserSeeder.js
  packages/api/resources/views/emails/technology-order.edge
  packages/api/start/routes/technologies.js
  packages/api/start/routes/technologyOrders.js
  packages/api/test/functional/technology-order.spec.js
Labels: ADMIN, API, comp:order

#662 O admin deve visualizar todas as tecnologias independente do status
  cypress/e2e/web/technologies.js
  packages/api/app/Controllers/Http/TechnologyController.js
  packages/api/app/Models/Technology.js
  packages/api/app/Models/Traits/Params.js
  packages/web/pages/index.js
Labels: ADMIN, API

#670 Update react-icons to remove pId warning from tests
  packages/web/components/Card/Share/__tests__/__snapshots__/index.js.snap
  packages/web/package-lock.json
  packages/web/package.json
Labels: WEB, improvements

#678 Only index to algolia when technology status is published
  packages/api/app/Controllers/Http/TechnologyCostController.js
Labels: API, bug, comp:technologies

#677 Sends Email in Background
  packages/api/app/Controllers/Http/AuthController.js
  packages/api/app/Controllers/Http/ReviewerController.js
  packages/api/app/Controllers/Http/TechnologyController.js
  packages/api/app/Controllers/Http/TechnologyOrderController.js
  packages/api/app/Controllers/Http/UserController.js
  packages/api/app/Models/Technology.js
  packages/api/app/Utils/technology_distribution.js
  packages/api/resources/views/emails/active-account.edge
  packages/api/resources/views/emails/approved-reviewer.edge
  packages/api/resources/views/emails/changes-made.edge
  packages/api/resources/views/emails/confirm-account.edge
  packages/api/resources/views/emails/forgot-password.edge
  packages/api/resources/views/emails/new-email-verification.edge
  packages/api/resources/views/emails/reset-password.edge
  packages/api/resources/views/emails/sucess-change-email.edge
  packages/api/resources/views/emails/technology-invitation.edge
  packages/api/resources/views/emails/technology-reviewer.edge
  packages/api/resources/views/emails/technology-revision.edge
  packages/api/test/functional/auth.spec.js
  packages/api/test/functional/contact.spec.js
  packages/api/test/functional/reviewer.spec.js
  packages/api/test/functional/technology-distribution.spec.js
  packages/api/test/functional/technology-order.spec.js
  packages/api/test/functional/technology.spec.js
  packages/api/test/functional/user.spec.js
Labels: API, improvements

#668 Feature/api/technology faq
  packages/api/app/Controllers/Http/TechnologyController.js
  packages/api/app/Controllers/Http/TechnologyQuestionController.js
  packages/api/app/Models/Permission.js
  packages/api/app/Models/TechnologyQuestion.js
  packages/api/app/Models/Traits/Params.js
  packages/api/app/Utils/roles_capabilities.js
  packages/api/app/Utils/statuses.js
  packages/api/app/Validators/AnswerQuestion.js
  packages/api/app/Validators/MakeQuestion.js
  packages/api/database/factory.js
  packages/api/database/migrations/1606169204732_technology_question_schema.js
  packages/api/database/seeds/11_TechnologyQuestionSeeder.js
  packages/api/database/seeds/5_PermissionSeeder.js
  packages/api/resources/locales/en/message.json
  packages/api/resources/locales/pt/message.json
  packages/api/resources/views/emails/technology-question-answered.edge
  packages/api/resources/views/emails/technology-question.edge
  packages/api/start/routes/index.js
  packages/api/start/routes/technologies.js
  packages/api/start/routes/technologyOrders.js
  packages/api/start/routes/technologyQuestions.js
  packages/api/test/functional/technology-question.spec.js
Labels: API, comp:technologies

#681 style(web): fix carrousel height
  packages/web/__tests__/pages/t/__snapshots__/index.js.snap
  packages/web/components/Modal/ImagesGalleryModal/styles.js
  packages/web/components/Technology/Details/Header.js
  packages/web/components/Technology/Details/ImagesCarousel/styles.js
Labels: WEB, bug, comp:technologies
