Repository ufersa/plataforma-sabia, pull requests merged in 2021-04, with the labels that each got.

#961 Add Sentry to API
  packages/api/.env.ci
  packages/api/.env.example
  packages/api/.env.testing
  packages/api/app/Exceptions/Handler.js
  packages/api/app/Utils/Slack/index.js
  packages/api/app/Utils/Slack/notifyError.js
  packages/api/app/Utils/index.js
  packages/api/config/app.js
  packages/api/config/sentry.js
  packages/api/config/slack.js
  packages/api/package-lock.json
  packages/api/package.json
  packages/api/start/app.js
Labels: API, improvements

#973 Messages page
  cypress/e2e/web/messages.js
  packages/api/database/seeds/17_MessageSeeder.js
  packages/web/__tests__/pages/user/my-account/__snapshots__/revisions.js.snap
  packages/web/__tests__/pages/user/my-account/messages.js
  packages/web/components/DataGrid/__tests__/__snapshots__/Controls.js.snap
  packages/web/components/DataGrid/styles.js
  packages/web/components/SafeHtml/SafeHtml.js
  packages/web/components/UserProfile/UserProfile.js
  packages/web/components/UserProfile/UserProfileDropDown.js
  packages/web/components/UserProfile/pages.js
  packages/web/pages/user/my-account/messages.js
  packages/web/pages/user/my-account/my-services.js
  packages/web/pages/user/my-account/technologies.js
  packages/web/services/index.js
  packages/web/services/messages.js
  packages/web/services/user.js
  packages/web/utils/enums/api.enum.js
  packages/web/utils/enums/messages.enum.js
  packages/web/utils/helper.js
Labels: WEB, enhancement

#979 Refactor user orders to match new solution
  packages/api/app/Controllers/Http/OrderController.js
  packages/api/app/Utils/statuses.js
  packages/api/package-lock.json
  packages/web/__tests__/pages/user/my-account/__snapshots__/revisions.js.snap
  packages/web/components/DataGrid/styles.js
  packages/web/components/HamburguerMenu/HamburguerMenu.js
  packages/web/components/Modal/CancelOrderModal/index.js
  packages/web/components/Modal/ModalProvider.js
  packages/web/components/Modal/ServiceOrderDetailsModal/index.js
  packages/web/components/Modal/ServiceOrderDetailsModal/styles.js
  packages/web/components/Modal/SettleDealModal/index.js
  packages/web/components/Modal/TechnologyOrderDetailsModal/index.js
  packages/web/components/Modal/TechnologyOrderDetailsModal/styles.js
  packages/web/components/OrderMessages/SolutionInfos.js
  packages/web/components/OrderMessages/index.js
  packages/web/components/OrderMessages/styles.js
  packages/web/pages/user/my-account/my-orders.js
  packages/web/pages/user/my-account/orders.js
  packages/web/services/__tests__/technologyOrders.js
  packages/web/services/technologyOrders.js
  packages/web/utils/enums/orders.enum.js
  packages/web/utils/technologyOrders.js
Labels: WEB, comp:order, comp:services, comp:technologies

#974 Add institutions to Algolia
  packages/api/app/Commands/AlgoliaIndex.js
  packages/api/app/Controllers/Http/InstitutionController.js
  packages/api/app/Models/Institution.js
  packages/api/app/Utils/Algolia/indexes/index.js
  packages/api/app/Utils/Algolia/indexes/institution.js
  packages/api/app/Utils/Algolia/indexes/service.js
  packages/api/app/Utils/Algolia/indexes/technology.js
  packages/api/config/algolia.js
  packages/api/test/functional/institution.spec.js
  packages/web/algoliaIndexes.js
  packages/web/config.js
Labels: API, comp:institution, comp:search, improvements

#983 Update production and staging URL
  packages/web/config.js
Labels: DEVOPS

#990 Change email sender name
  packages/api/app/Jobs/SendMail.js
  packages/api/config/mail.js
Labels: API, improvements

#988 Add smartsupp chat script
  packages/web/.env.example
  packages/web/.env.testing
  packages/web/config.js
  packages/web/pages/_app.js
Labels: WEB, enhancement

#989 Add custom SEO tags to web pages
  packages/web/components/head.js
  packages/web/pages/about.js
  packages/web/pages/announcements.js
  packages/web/pages/ideas.js
  packages/web/pages/index.js
  packages/web/pages/privacy-policy.js
  packages/web/pages/search.js
  packages/web/pages/shopping-cart.js
  packages/web/pages/solution/new.js
  packages/web/pages/t/[technology]/index.js
  packages/web/pages/terms-of-use.js
  packages/web/public/static/locales/en/index.js
  packages/web/public/static/locales/en/pages.json
  packages/web/public/static/locales/pt/index.js
  packages/web/public/static/locales/pt/pages.json
  packages/web/public/static/seo-1200x628.png
  packages/web/public/static/seo-300x300.png
Labels: WEB, improvements

#981 Institutions showcase
  packages/api/app/Commands/AlgoliaIndex.js
  packages/api/app/Controllers/Http/InstitutionController.js
  packages/api/app/Models/Institution.js
  packages/api/start/routes/institutions.js
  packages/api/test/functional/institution.spec.js
  packages/web/components/Common/Typography.js
  packages/web/components/LandingPage/Resources/Item/index.js
  packages/web/components/LandingPage/Resources/Item/styles.js
  packages/web/components/SolutionsSection/SolutionsWrapper.js
  packages/web/components/SolutionsSection/styles.js
  packages/web/pages/vitrine/[institution].js
  packages/web/public/static/locales/en/pages.json
  packages/web/public/static/locales/pt/pages.json
  packages/web/screens/Vitrine/Institution/SolutionList/index.js
  packages/web/screens/Vitrine/Institution/SolutionList/styles.js
  packages/web/screens/Vitrine/Institution/index.js
  packages/web/screens/Vitrine/Institution/styles.js
  packages/web/services/institutions.js
Labels: WEB, comp:institution, enhancement

#995 API is not calling the right Algolia index on endpoints
  packages/api/app/Commands/AlgoliaIndex.js
  packages/api/app/Controllers/Http/TechnologyController.js
  packages/api/app/Utils/Algolia/core.js
  packages/api/app/Utils/Algolia/indexes/announcement.js
  packages/api/app/Utils/Algolia/indexes/idea.js
  packages/api/app/Utils/Algolia/indexes/institution.js
  packages/api/app/Utils/Algolia/indexes/service.js
  packages/api/app/Utils/Algolia/indexes/technology.js
Labels: API, bug, comp:search

#997 Idea bank improvements
  packages/api/app/Commands/AlgoliaIndex.js
  packages/api/app/Controllers/Http/IdeaController.js
  packages/api/app/Models/Idea.js
  packages/api/app/Utils/Algolia/handleObject.js
  packages/api/app/Utils/Algolia/index.js
  packages/api/app/Utils/Algolia/indexes/idea.js
  packages/api/test/functional/idea.spec.js
  packages/api/test/utils/AlgoliaFakeService.js
  packages/web/components/LandingPage/IdeaCard/index.js
  packages/web/components/LandingPage/IdeaCard/styles.js
Labels: API, WEB, comp:search

#1002 Search page is showing a wrong technology image
  packages/web/components/Algolia/Common/hitCardStyles.js
  packages/web/components/Algolia/TechnologyHitCard/index.js
Labels: WEB, bug, comp:search, comp:technologies

#1006 Improve placeholders on the user's profile page
  packages/api/app/Validators/UpdateUser.js
  packages/web/pages/user/my-account/index.js
  packages/web/public/static/locales/en/account.json
  packages/web/public/static/locales/pt/account.json
Labels: URGENT, WEB, improvements

#1008 Refactor tabs content of technology details page
  cypress/e2e/web/technologyDetails.js
  packages/api/app/Models/Technology.js
  packages/web/__tests__/pages/t/__snapshots__/index.js.snap
  packages/web/components/Technology/Details/Header.js
  packages/web/components/Technology/Details/ReadinessLevel/styles.js
  packages/web/components/Technology/Details/Tables/Costs.js
  packages/web/components/Technology/Details/Tabs/About.js
  packages/web/components/Technology/Details/Tabs/Description.js
  packages/web/components/Technology/Details/Tabs/index.js
  packages/web/components/Technology/Details/__tests__/__snapshots__/ReadinessLevel.js.snap
  packages/web/components/TechnologyForm/Review/__tests__/__snapshots__/index.js.snap
  packages/web/pages/t/[technology]/index.js
  packages/web/public/technology-readiness-level.svg
  packages/web/utils/helper.js
  packages/web/utils/technology.js
Labels: WEB, bug

#1012 Institutions showcase list
  packages/web/components/Algolia/provider.js
  packages/web/components/Common/Typography.js
  packages/web/components/Footer/Footer.js
  packages/web/components/Header/Dropdown.js
  packages/web/components/Header/links.js
  packages/web/pages/vitrines.js
  packages/web/public/add-to-cart-rafiki.svg
  packages/web/public/static/locales/en/common.json
  packages/web/public/static/locales/en/pages.json
  packages/web/public/static/locales/pt/common.json
  packages/web/public/static/locales/pt/pages.json
  packages/web/screens/Vitrine/Institution/index.js
  packages/web/screens/Vitrines/HitCard/index.js
  packages/web/screens/Vitrines/HitCard/styles.js
  packages/web/screens/Vitrines/SolutionList/index.js
  packages/web/screens/Vitrines/SolutionList/styles.js
  packages/web/screens/Vitrines/index.js
  packages/web/screens/Vitrines/styles.js
Labels: WEB, comp:institution, enhancement

#1010 Confirmation mails in orders
  packages/api/app/Controllers/Http/OrderController.js
  packages/api/resources/locales/en/message.json
  packages/api/resources/locales/pt/message.json
  packages/api/resources/views/emails/confirm-service-order-cancel.edge
  packages/api/resources/views/emails/confirm-technology-order-cancel.edge
  packages/api/resources/views/emails/confirm-technology-order.edge
Labels: API, comp:order
