Repository ufersa/plataforma-sabia, pull requests merged in 2021-03, with the labels that each got.

#826 Change requestPasswordReset text
  cypress/e2e/web/resetPassword.js
  packages/web/components/Modal/ForgotPasswordModal/index.js
  packages/web/public/static/locales/en/common.json
  packages/web/public/static/locales/pt/common.json
Labels: WEB, bug

#855 adjustment the admin menu order
  packages/admin/src/App.js
Labels: ADMIN

#857 Updates Orders Endpoint
  packages/api/app/Controllers/Http/OrderController.js
  packages/api/app/Controllers/Http/ServiceController.js
  packages/api/app/Controllers/Http/TechnologyOrderController.js
  packages/api/app/Models/Permission.js
  packages/api/app/Models/ServiceOrder.js
  packages/api/app/Models/TechnologyOrder.js
  packages/api/app/Utils/roles_capabilities.js
  packages/api/database/factory.js
  packages/api/database/seeds/06_PermissionSeeder.js
  packages/api/start/routes/index.js
  packages/api/start/routes/orders.js
  packages/api/start/routes/services.js
  packages/api/start/routes/technologyOrders.js
  packages/api/test/functional/order.spec.js
  packages/api/test/functional/service.spec.js
  packages/api/test/functional/technology-order.spec.js
Labels: API, comp:order

#854 Updates emails design and content
  packages/api/app/Controllers/Http/ReviewerController.js
  packages/api/app/Controllers/Http/TechnologyController.js
  packages/api/app/Utils/technology_distribution.js
  packages/api/config/app.js
  packages/api/config/upload.js
  packages/api/public/img/Logo-color.png
  packages/api/public/img/facebook-f-brands.png
  packages/api/public/img/instagram-brands.png
  packages/api/public/img/linkedin-brands.png
  packages/api/public/img/twitter-brands.png
  packages/api/public/img/youtube-brands.png
  packages/api/resources/views/emails/active-account.edge
  packages/api/resources/views/emails/announcement-published.edge
  packages/api/resources/views/emails/approved-reviewer.edge
  packages/api/resources/views/emails/changes-made.edge
  packages/api/resources/views/emails/confirm-account.edge
  packages/api/resources/views/emails/contact-us.edge
  packages/api/resources/views/emails/forgot-password.edge
  packages/api/resources/views/emails/new-email-verification.edge
  packages/api/resources/views/emails/reset-password.edge
  packages/api/resources/views/emails/service-requested.edge
  packages/api/resources/views/emails/sucess-change-email.edge
  packages/api/resources/views/emails/technology-invitation.edge
  packages/api/resources/views/emails/technology-order-cancelled.edge
  packages/api/resources/views/emails/technology-order-closed.edge
  packages/api/resources/views/emails/technology-order.edge
  packages/api/resources/views/emails/technology-question-answered.edge
  packages/api/resources/views/emails/technology-question.edge
  packages/api/resources/views/emails/technology-reviewer.edge
  packages/api/resources/views/emails/technology-revision-revoked.edge
  packages/api/resources/views/emails/technology-revision.edge
  packages/api/resources/views/layout/mail.edge
  packages/api/start/hooks.js
Labels: API

#871 feat(api): index objects to algolia correctly using environment
  packages/api/app/Commands/AlgoliaIndex.js
  packages/api/app/Utils/Algolia/core.js
  packages/api/app/Utils/Algolia/indexes/announcement.js
  packages/api/app/Utils/Algolia/indexes/idea.js
  packages/api/app/Utils/Algolia/indexes/service.js
  packages/api/app/Utils/Algolia/indexes/technology.js
  packages/api/app/Utils/getNestedValue.js
  packages/api/config/algolia.js
  packages/web/.env.example
  packages/web/.env.testing
  packages/web/algoliaIndexes.js
  packages/web/config.js
Labels: API, bug, comp:search

#872 fix(web): double negate solutions array so it doesn't render length
  packages/web/pages/index.js
Labels: WEB, bug, comp:services, comp:technologies

#873 Set a higher value to perPage param when getting the upload query
  packages/web/pages/technology/[id]/edit.js
  packages/web/services/technology.js
Labels: WEB, comp:technologies

#875 Set a higher value of items per page to get the attachment query
  packages/web/pages/t/[technology]/index.js
  packages/web/pages/technology/[id]/edit.js
  packages/web/services/__tests__/technology.js
  packages/web/services/technology.js
Labels: WEB, bug, comp:technologies, improvements

#866 Email with service order confirmation
  packages/api/app/Controllers/Http/OrderController.js
  packages/api/resources/locales/en/message.json
  packages/api/resources/locales/pt/message.json
  packages/api/resources/views/emails/confirm-service-order.edge
Labels: API, comp:order, comp:services

#806 Add curator areas to user profile
  package-lock.json
  package.json
  packages/admin/package-lock.json
  packages/api/.env.ci
  packages/api/.env.example
  packages/api/.env.testing
  packages/api/app/Controllers/Http/AuthController.js
  packages/api/app/Controllers/Http/KnowledgeAreaController.js
  packages/api/app/Models/KnowledgeArea.js
  packages/api/app/Models/Traits/InvalidateCache.js
  packages/api/app/Utils/cache.js
  packages/api/app/Utils/index.js
  packages/api/app/Validators/UpdateUser.js
  packages/api/config/redis.js
  packages/api/package-lock.json
  packages/api/package.json
  packages/api/providers/RequestProvider.js
  packages/api/server.js
  packages/api/start/app.js
  packages/api/start/redis.js
  packages/api/test/functional/user.spec.js
  packages/web/__tests__/pages/user/my-account/__snapshots__/index.js.snap
  packages/web/components/Loading/Wrapper.js
  packages/web/components/Loading/styles.js
  packages/web/components/UserProfile/UserSpecialities.js
  packages/web/components/UserProfile/index.js
  packages/web/components/UserProfile/styles.js
  packages/web/package-lock.json
  packages/web/pages/_app.js
  packages/web/pages/user/my-account/curate-profile.js
  packages/web/pages/user/my-account/index.js
  packages/web/yarn.lock
Labels: WEB, comp:curation, comp:users, enhancement

#885 Fix technology order
  packages/web/components/Technology/Details/Header.js
  packages/web/components/Technology/Details/__tests__/Header.js
Labels: WEB, bug, comp:technologies

#887 Fixes bug in get user bookmarks route
  packages/api/app/Controllers/Http/UserBookmarkController.js
Labels: API, bug, comp:technologies

#888 Fix technology update without changing the areas
  packages/web/pages/technology/[id]/edit.js
  packages/web/pages/user/my-account/index.js
  packages/web/services/__tests__/technology.js
  packages/web/utils/technology.js
Labels: WEB, bug, comp:technologies

#889 Announcements
  package-lock.json
  packages/web/__tests__/pages/t/__snapshots__/index.js.snap
  packages/web/algoliaIndexes.js
  packages/web/components/Algolia/Common/SearchBoxBackground.js
  packages/web/components/Algolia/provider.js
  packages/web/components/Button/RectangularButton.js
  packages/web/components/Button/styles.js
  packages/web/components/Common/Layout.js
  packages/web/components/Form/CurrencyInputField.js
  packages/web/components/Form/InputField.js
  packages/web/components/Form/MaskedInputField.js
  packages/web/components/Form/SelectField.js
  packages/web/components/Form/TextField.js
  packages/web/components/Form/__tests__/__snapshots__/Fields.js.snap
  packages/web/components/Form/styles.js
  packages/web/components/Header/links.js
  packages/web/components/LandingPage/AnnouncementCard/index.js
  packages/web/components/LandingPage/AnnouncementCard/styles.js
  packages/web/components/LandingPage/Button/index.js
  packages/web/components/LandingPage/IdeaCard/index.js
  packages/web/components/LandingPage/IdeaCard/styles.js
  packages/web/components/LandingPage/Intro/styles.js
  packages/web/components/LandingPage/ListIdeas/index.js
  packages/web/components/LandingPage/ListItems/index.js
  packages/web/components/LandingPage/ListItems/styles.js
  packages/web/components/LandingPage/RegisterAnnouncement/FormWizard.js
  packages/web/components/LandingPage/RegisterAnnouncement/StepOne.js
  packages/web/components/LandingPage/RegisterAnnouncement/StepTwo.js
  packages/web/components/LandingPage/RegisterAnnouncement/index.js
  packages/web/components/LandingPage/RegisterAnnouncement/styles.js
  packages/web/components/LandingPage/index.js
  packages/web/components/Modal/__tests__/__snapshots__/BuyTechnologyModal.js.snap
  packages/web/components/Modal/__tests__/__snapshots__/CreateInstitutionsModal.js.snap
  packages/web/components/TechnologyForm/Costs/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/MapAndAttachments/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/Responsible/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/Review/__tests__/__snapshots__/index.js.snap
  packages/web/config.js
  packages/web/pages/announcements.js
  packages/web/pages/ideas-bank.js
  packages/web/pages/user/my-account/index.js
  packages/web/public/accept-terms-rafiki.svg
  packages/web/public/completed-rafiki.svg
  packages/web/services/announcement.js
  packages/web/utils/enums/api.enum.js
  packages/web/utils/helper.js
Labels: WEB, comp:announcements, enhancement

#893 Add more fields on user bookmarks endpoint
  packages/api/app/Controllers/Http/UserBookmarkController.js
  packages/api/test/functional/user-bookmark.spec.js
Labels: API, comp:services, comp:technologies

#894 Display video previews on technology review page
  packages/web/components/TechnologyForm/Review/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/Review/index.js
  packages/web/components/TechnologyForm/Review/styles.js
Labels: WEB, comp:technologies, improvements

#897 Fix app environments
  packages/api/.env.ci
  packages/api/.env.example
  packages/api/.env.testing
  packages/api/config/algolia.js
  packages/web/.env.example
  packages/web/.env.testing
Labels: API, URGENT, WEB, bug

#899 [Home] Background image changes after the page loads
  packages/web/components/Hero/Hero.js
Labels: WEB, bug

#900 improve logo image
  packages/web/components/Header/Header.js
  packages/web/public/logo.svg
Labels: WEB, improvements

#902 Check for institution when rendering Announcement card
  packages/web/components/LandingPage/AnnouncementCard/index.js
Labels: WEB, bug

#905 Create Algolia announcements instance
  packages/api/app/Commands/AlgoliaIndex.js
Labels: API, bug, comp:announcements, comp:search

#907 remove basic auth
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/server.js
Labels: API, comp:auth

#914 fix(web): transform selectedValue to string if its not an object
  cypress/e2e/web/technologyForm.js
  packages/api/app/Utils/statuses.js
  packages/api/database/factory.js
  packages/api/database/seeds/04_UserSeeder.js
  packages/web/components/Form/CurrencyInputField.js
  packages/web/components/Form/InputField.js
  packages/web/components/Form/MaskedInputField.js
  packages/web/components/Form/SelectField.js
  packages/web/components/Form/TextField.js
  packages/web/components/TechnologyForm/Costs/CostsTable.js
  packages/web/components/TechnologyForm/Costs/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/Responsible/index.js
  packages/web/pages/solution/new.js
  packages/web/pages/technology/[id]/edit.js
Labels: WEB, bug, comp:technologies

#916 Check for technology props when comparing
  packages/web/components/TechnologyForm/Costs/index.js
Labels: WEB, bug

#918 Normalize development_costs before sending data to technology form
  packages/web/pages/technology/[id]/edit.js
Labels: WEB, bug

#924 Adjust responsiveness of authentication modals
  cypress/support/commands.js
  packages/web/components/Modal/ForgotPasswordModal/index.js
  packages/web/components/Modal/ForgotPasswordModal/styles.js
  packages/web/components/Modal/LoginModal/index.js
  packages/web/components/Modal/RegisterModal/index.js
  packages/web/components/Modal/RegisterModal/styles.js
  packages/web/components/Modal/__tests__/__snapshots__/RegisterModal.js.snap
Labels: WEB, bug

#925 Home page improvements
  packages/api/app/Controllers/Http/TechnologyController.js
  packages/web/__tests__/pages/t/__snapshots__/index.js.snap
  packages/web/components/Card/ServiceCard.js
  packages/web/components/Card/TechnologyCard.js
  packages/web/components/Footer/Footer.js
  packages/web/components/Header/links.js
  packages/web/components/LandingPage/Resources/index.js
  packages/web/components/ShoppingCart/ShoppingCartProvider.js
  packages/web/pages/_app.js
  packages/web/pages/ideas.js
  packages/web/pages/index.js
  packages/web/pages/shopping-cart.js
Labels: WEB, improvements

#895 Query suggestions should search for keywords
  packages/admin/package-lock.json
  packages/api/app/Commands/AlgoliaIndex.js
  packages/api/app/Models/Technology.js
  packages/api/app/Utils/Algolia/indexes/service.js
  packages/api/app/Utils/Algolia/indexes/technology.js
  packages/api/app/Utils/Algolia/normalizes.js
  packages/web/__tests__/pages/t/__snapshots__/index.js.snap
  packages/web/components/Algolia/searchBox.js
  packages/web/components/Algolia/smallSearchBox.js
  packages/web/components/Hero/Hero.js
  packages/web/components/Hero/HeroSearch/HeroSearch.js
  packages/web/components/MainSearch/solutionsAlgoliaComponents.js
  packages/web/public/static/locales/en/common.json
  packages/web/public/static/locales/en/search.json
  packages/web/public/static/locales/pt/common.json
  packages/web/public/static/locales/pt/search.json
  packages/web/utils/algoliaHelper.js
Labels: API, WEB, comp:search, comp:services, comp:technologies

#926 Enables and disables services
  packages/api/app/Controllers/Http/ServiceController.js
  packages/api/app/Controllers/Http/TechnologyController.js
  packages/api/app/Models/Permission.js
  packages/api/app/Models/Service.js
  packages/api/app/Utils/roles_capabilities.js
  packages/api/database/factory.js
  packages/api/database/migrations/1616101066732_add_active_column_to_service_schema.js
  packages/api/database/seeds/06_PermissionSeeder.js
  packages/api/start/routes/services.js
  packages/api/test/functional/service.spec.js
Labels: API, comp:services

#934 Emails are not being sent to the platform email
  packages/api/app/Controllers/Http/ContactController.js
  packages/api/app/Jobs/SendMail.js
  packages/api/test/functional/contact.spec.js
Labels: API, improvements

#935 My Services page
  cypress/e2e/web/services.js
  cypress/support/commands.js
  package-lock.json
  packages/api/app/Controllers/Http/ServiceController.js
  packages/api/database/seeds/16_ServiceSeeder.js
  packages/api/start/routes/services.js
  packages/api/test/functional/service.spec.js
  packages/web/__tests__/pages/t/__snapshots__/index.js.snap
  packages/web/__tests__/pages/user/my-account/__snapshots__/index.js.snap
  packages/web/__tests__/pages/user/my-account/__snapshots__/revisions.js.snap
  packages/web/__tests__/pages/user/my-account/curate/__snapshots__/profile.js.snap
  packages/web/components/Authorization/__tests__/__snapshots__/Protected.js.snap
  packages/web/components/Button/styles.js
  packages/web/components/Card/Share/__tests__/__snapshots__/index.js.snap
  packages/web/components/Common/Layout.js
  packages/web/components/Loading/Spinner.js
  packages/web/components/Loading/styles.js
  packages/web/components/Modal/EditServiceModal/index.js
  packages/web/components/Modal/EditServiceModal/styles.js
  packages/web/components/Modal/ModalProvider.js
  packages/web/components/Modal/__tests__/__snapshots__/BuyTechnologyModal.js.snap
  packages/web/components/Modal/__tests__/__snapshots__/CreateInstitutionsModal.js.snap
  packages/web/components/Modal/__tests__/__snapshots__/RegisterModal.js.snap
  packages/web/components/Modal/styles.js
  packages/web/components/TechnologyForm/Costs/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/MapAndAttachments/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/Responsible/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/Review/__tests__/__snapshots__/index.js.snap
  packages/web/components/UserProfile/__tests__/__snapshots__/UserProfileDropDown.js.snap
  packages/web/components/UserProfile/icons/List.js
  packages/web/components/UserProfile/icons/index.js
  packages/web/components/UserProfile/pages.js
  packages/web/pages/user/my-account/my-services.js
  packages/web/public/static/locales/en/account.json
  packages/web/public/static/locales/en/profile.json
  packages/web/public/static/locales/pt/account.json
  packages/web/public/static/locales/pt/profile.json
  packages/web/services/service.js
  packages/web/services/user.js
  packages/web/utils/service.js
Labels: WEB, comp:services, enhancement

#927 Add new Algolia replicas
  packages/api/app/Commands/AlgoliaIndex.js
  packages/api/app/Utils/Algolia/indexes/announcement.js
  packages/api/app/Utils/Algolia/indexes/idea.js
  packages/api/test/functional/announcement.spec.js
  packages/web/components/LandingPage/AnnouncementCard/index.js
  packages/web/components/LandingPage/IdeaCard/index.js
Labels: API, comp:search, improvements

#901 Fix related solutions on details page
  packages/api/app/Models/Traits/Params.js
  packages/web/__tests__/pages/t/__snapshots__/index.js.snap
  packages/web/__tests__/pages/t/index.js
  packages/web/components/Card/TechnologyCard.js
  packages/web/components/Common/Typography.js
  packages/web/components/SolutionsSection/SolutionCard.js
  packages/web/components/SolutionsSection/SolutionsSection.js
  packages/web/components/SolutionsSection/SolutionsWrapper.js
  packages/web/components/SolutionsSection/__tests__/SolutionCard.js
  packages/web/components/SolutionsSection/__tests__/__snapshots__/SolutionCard.js.snap
  packages/web/components/SolutionsSection/index.js
  packages/web/components/SolutionsSection/styles.js
  packages/web/components/Technology/Details/RelatedSolutions.js
  packages/web/components/Technology/Details/index.js
  packages/web/pages/index.js
  packages/web/pages/t/[technology]/index.js
  packages/web/utils/technology.js
Labels: WEB, bug, comp:services, comp:technologies

#936 Prepare target audiences before indexing to algolia
  packages/api/app/Utils/Algolia/indexes/announcement.js
Labels: API, bug, comp:announcements

#937 Add cache for NextJS build
  .github/workflows/automated-tests.yml
Labels: DEVOPS

#940 Some indexes are not populated in Algolia
  packages/api/app/Commands/AlgoliaIndex.js
  packages/api/package.json
Labels: API, bug, comp:search

#945 Increase keyword search in related solutions
  packages/web/components/Technology/Details/RelatedSolutions.js
Labels: WEB, comp:search

#946 Fix solution cards style
  packages/web/components/Algolia/ServiceHitCard/index.js
  packages/web/components/Algolia/TechnologyHitCard/index.js
  packages/web/components/Card/ServiceCard.js
  packages/web/components/SolutionsSection/__tests__/__snapshots__/SolutionCard.js.snap
Labels: WEB, bug

#951 Fix keyword filter on related technologies
  packages/web/components/Technology/Details/RelatedSolutions.js
Labels: WEB, bug, comp:search

#953 Update NextJS version
  packages/web/package-lock.json
  packages/web/package.json
Labels: WEB, bug, comp:technologies

#952 Algolia always starts with the technology index
  packages/web/components/LandingPage/AnnouncementCard/index.js
  packages/web/components/LandingPage/IdeaCard/index.js
  packages/web/components/LandingPage/ListItems/index.js
  packages/web/pages/announcements.js
  packages/web/pages/ideas.js
  packages/web/utils/algoliaHelper.js
Labels: WEB, bug, comp:search

#963 Add service default thumbnails based on type
  packages/web/components/Algolia/ServiceHitCard/index.js
  packages/web/components/Card/ServiceCard.js
  packages/web/components/Card/__tests__/serviceCard.js
  packages/web/public/analysis-rafiki.svg
  packages/web/public/creative-experience-rafiki.svg
  packages/web/public/eletrician-rafiki.svg
  packages/web/public/environment-rafiki.svg
  packages/web/public/group-chat-rafiki.svg
  packages/web/public/laboratory-rafiki.svg
  packages/web/public/under-construction-rafiki.svg
  packages/web/utils/service.js
Labels: WEB, comp:services, enhancement

#960 Update technology responsible with role
  packages/admin/src/components/StatusForm/statuses.js
  packages/admin/src/pages/technologies/Form/ResponsibleForm.js
Labels: ADMIN, bug

#964 Fixes bugs in update routes
  packages/admin/src/components/ReferenceArrayInput.js
  packages/admin/src/pages/announcements/Form/index.js
  packages/admin/src/pages/ideas/Form/index.js
  packages/admin/src/pages/roles/Form/index.js
  packages/admin/src/pages/users/Form/AboutForm.js
Labels: ADMIN, bug

#970 Replace Next Image component with <img />
  packages/web/components/Algolia/Common/hitCardStyles.js
  packages/web/components/Algolia/ServiceHitCard/index.js
  packages/web/components/Card/ServiceCard.js
  packages/web/components/Card/TechnologyCard.js
  packages/web/components/Card/styles.js
  packages/web/components/SolutionsSection/__tests__/__snapshots__/SolutionCard.js.snap
Labels: WEB, bug
