Repository ufersa/plataforma-sabia, pull requests merged in 2021-08, with the labels that each got.

#1139 Fix institutions load
  packages/web/pages/user/my-account/index.js
Labels: WEB, bug

#1140 Improve Slack error alerts
  packages/api/app/Exceptions/Handler.js
Labels: API, improvements

#1119 Responsive adjustments
  packages/web/components/Hero/styles.js
Labels: WEB, bug

#1145 chore: add parameter to staging deployment workflow
  .github/workflows/build-and-deploy-image-to-staging.yml
Labels: DEVOPS

#1144 Update react-hook-form
  cypress/e2e/web/technologyForm.js
  cypress/support/commands.js
  packages/api/package-lock.json
  packages/web/components/CurateTechnology/About/index.js
  packages/web/components/CurateTechnology/index.js
  packages/web/components/Editor/index.js
  packages/web/components/Form/CurrencyInputField.js
  packages/web/components/Form/Form.js
  packages/web/components/Form/FormWizard.js
  packages/web/components/Form/InputField.js
  packages/web/components/Form/InputHiddenField.js
  packages/web/components/Form/MaskedInputField.js
  packages/web/components/Form/RadioField.js
  packages/web/components/Form/Repeater.js
  packages/web/components/Form/SelectField.js
  packages/web/components/Form/SwitchField.js
  packages/web/components/Form/TextField.js
  packages/web/components/Form/Watcher.js
  packages/web/components/Form/__tests__/__snapshots__/Fields.js.snap
  packages/web/components/LandingPage/RegisterIdea/index.js
  packages/web/components/TechnologyForm/AboutTechnology.js
  packages/web/components/TechnologyForm/Costs/CostsTable.js
  packages/web/components/TechnologyForm/Costs/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/Costs/index.js
  packages/web/components/TechnologyForm/MapAndAttachments/index.js
  packages/web/components/TechnologyForm/Responsible/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/Responsible/index.js
  packages/web/components/TechnologyForm/Review/__tests__/index.js
  packages/web/components/TechnologyForm/Review/index.js
  packages/web/components/UserProfile/UserSpecialities.js
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/pages/service/new.js
  packages/web/pages/user/my-account/index.js
  packages/web/services/__tests__/technology.js
  packages/web/utils/technology.js
Labels: WEB, improvements

#1148 Run staging deploy workflow if input is empty
  .github/workflows/build-and-deploy-image-to-staging.yml
Labels: DEVOPS

#1106 Uploads to S3
  cypress/e2e/web/technologyForm.js
  packages/api/.env.example
  packages/api/.env.testing
  packages/api/app/Controllers/Http/UploadController.js
  packages/api/app/Models/Upload.js
  packages/api/app/Utils/slugify.js
  packages/api/config/drive.js
  packages/api/database/migrations/1625690936828_add_field_url_to_uploads_schema.js
  packages/api/package-lock.json
  packages/api/package.json
  packages/api/start/app.js
  packages/api/test/functional/technology.spec.js
  packages/api/test/functional/upload.spec.js
Labels: API

#1151 Validate input on Resend Confirmation Email endpoint
  packages/api/app/Controllers/Http/AuthController.js
  packages/api/app/Validators/ResendConfirmationEmail.js
  packages/api/start/routes/auth.js
Labels: bug, API

#1155 Removes special chars from slugify
  package-lock.json
  packages/api/app/Utils/slugify.js
  packages/api/database/migrations/1626211781279_user_city_state_schema.js
  packages/api/package-lock.json
  packages/api/test/unit/slugify.spec.js
Labels: improvements
