Repository ufersa/plataforma-sabia, pull requests merged in 2021-07, with the labels that each got.

#1101 Use Insitutions slug to open showcase page
  packages/api/app/Models/Institution.js
  packages/web/screens/Vitrine/Institution/index.js
  packages/web/screens/Vitrines/HitCard/index.js
Labels: WEB, comp:services, comp:technologies, improvements

#1103 Query Param filterBy
  packages/api/app/Middleware/HandleParam.js
  packages/api/app/Models/Traits/Params.js
  packages/api/test/functional/params.spec.js
Labels: API, improvements

#1104 Migration Location Schema
  packages/api/app/Controllers/Http/TechnologyController.js
  packages/api/app/Models/Location.js
  packages/api/app/Models/Technology.js
  packages/api/app/Models/TechnologyLocation.js
  packages/api/database/migrations/1625322322570_technology_location_add_timestamp_schema.js
  packages/api/database/migrations/1625779219933_migrate_location_terms_to_technology_location_schema.js
  packages/api/test/functional/technology.spec.js
Labels: API, comp:locations, comp:technologies

#1110 Remove authenticated requests if user is unauthenticated
  packages/web/__tests__/pages/t/index.js
  packages/web/__tests__/pages/user/my-account/curate/profile.js
  packages/web/__tests__/pages/user/my-account/messages.js
  packages/web/__tests__/pages/user/my-account/revisions.js
  packages/web/components/Authorization/Protected.js
  packages/web/components/Authorization/__tests__/Protected.js
  packages/web/components/Technology/Details/__tests__/Header.js
  packages/web/components/User/UserProvider.js
  packages/web/components/UserProfile/UserProfileDropDown.js
  packages/web/components/UserProfile/__tests__/UserProfileDropDown.js
  packages/web/pages/_app.js
  packages/web/tests/test-utils.js
  packages/web/utils/helper.js
Labels: WEB, bug

#1109 Improve Slack error alert
  packages/api/app/Utils/Slack/notifyError.js
Labels: API

#1113 Add async select to announcements and user profile form
  packages/web/components/Form/SelectField.js
  packages/web/components/Form/__tests__/__snapshots__/Fields.js.snap
  packages/web/components/LandingPage/RegisterAnnouncement/StepOne.js
  packages/web/components/TechnologyForm/Costs/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/MapAndAttachments/__tests__/__snapshots__/index.js.snap
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/pages/user/my-account/index.js
Labels: WEB, improvements

#1115 Fix Slack Block and add testing command
  packages/api/app/Commands/TestSlackWebhook.js
  packages/api/app/Utils/Slack/notifyError.js
  packages/api/start/app.js
Labels: API, bug, improvements

#1116 Handle route not found
  packages/api/app/Exceptions/Handler.js
Labels: API, bug, improvements

#1122 Add ESLint action to CI
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/automated-tests.yml
Labels: DEVOPS, improvements

#1121 [FIX] Redirect reset password page
  packages/web/components/Modal/ForgotPasswordModal/index.js
  packages/web/utils/consts/pages.js
Labels: WEB, bug, comp:auth

#1123 Fix failed prop type on `_app.js`
  packages/web/pages/_app.js
Labels: WEB, bug

#1114 New user register flow
  packages/admin/package-lock.json
  packages/api/app/Controllers/Http/AuthController.js
  packages/api/app/Controllers/Http/UserController.js
  packages/api/app/Models/Traits/Params.js
  packages/api/app/Models/User.js
  packages/api/app/Validators/Register.js
  packages/api/app/Validators/UpdateUser.js
  packages/api/app/Validators/User.js
  packages/api/database/factory.js
  packages/api/database/migrations/1626211781279_user_city_state_schema.js
  packages/api/database/seeds/04_UserSeeder.js
  packages/api/resources/locales/en/message.json
  packages/api/resources/locales/pt/message.json
  packages/api/resources/views/emails/active-account.edge
  packages/api/resources/views/emails/confirm-account.edge
  packages/api/start/routes/auth.js
  packages/api/test/functional/auth.spec.js
  packages/api/test/functional/institution.spec.js
  packages/api/test/functional/user-fields-checking.spec.js
  packages/api/test/utils/Suts.js
Labels: API, comp:auth

#1134 Fix My Account page crash
  packages/web/pages/user/my-account/index.js
Labels: WEB, bug

#1136 Update user profile page to send state and city info properly
  packages/web/pages/user/my-account/index.js
  packages/web/services/locations.js
Labels: WEB, comp:users, enhancement
