Repository ufersa/plataforma-sabia, pull requests merged in 2021-02, with the labels that each got.

#792 Fix e2e update user test
  cypress/e2e/web/updateUser.js
  packages/web/pages/user/my-account/index.js
Labels: WEB, bug

#802 Adjust cypress test when typing in CKEditor
  cypress/e2e/web/createTechnology.js
Labels: WEB, bug

#727 Create ideas bank page
  packages/web/.env.example
  packages/web/__tests__/pages/t/__snapshots__/index.js.snap
  packages/web/algoliaIndexes.js
  packages/web/components/Algolia/Common/SearchBoxBackground.js
  packages/web/components/Algolia/debouncedSearchBox.js
  packages/web/components/Algolia/provider.js
  packages/web/components/Footer/Footer.js
  packages/web/components/Header/links.js
  packages/web/components/LandingPage/About/index.js
  packages/web/components/LandingPage/Button/index.js
  packages/web/components/LandingPage/Card/index.js
  packages/web/components/LandingPage/Card/styles.js
  packages/web/components/LandingPage/Features/FeatureSlider/Item/index.js
  packages/web/components/LandingPage/Features/FeatureSlider/index.js
  packages/web/components/LandingPage/Features/index.js
  packages/web/components/LandingPage/Header/Header.js
  packages/web/components/LandingPage/Header/links.js
  packages/web/components/LandingPage/Intro/index.js
  packages/web/components/LandingPage/Intro/styles.js
  packages/web/components/LandingPage/ListIdeas/index.js
  packages/web/components/LandingPage/ListIdeas/styles.js
  packages/web/components/LandingPage/Partnerships/index.js
  packages/web/components/LandingPage/Platform/index.js
  packages/web/components/LandingPage/RegisterIdea/Actions.js
  packages/web/components/LandingPage/RegisterIdea/index.js
  packages/web/components/LandingPage/RegisterIdea/styles.js
  packages/web/components/LandingPage/Resources/Item/index.js
  packages/web/components/LandingPage/Resources/index.js
  packages/web/components/LandingPage/index.js
  packages/web/components/MainSearch/MainSearch.js
  packages/web/components/_Layouts/LandingPage.js
  packages/web/config.js
  packages/web/pages/_app.js
  packages/web/pages/about.js
  packages/web/pages/ideas-bank.js
  packages/web/public/brainstorming-rafiki.svg
  packages/web/public/sharing-Ideas-rafiki.svg
  packages/web/services/ideas.js
  packages/web/styles/theme.js
  packages/web/utils/algoliaHelper.js
  packages/web/utils/helper.js
Labels: WEB, enhancement

#788 Improve mailcather installation steps on README
  README.md
Labels: documentation

#799 Permitir atualizar dados de FUNDING
  packages/admin/package-lock.json
  packages/admin/package.json
  packages/admin/src/components/StatusForm/statuses.js
  packages/admin/src/pages/technologies/Form/CostForm.js
  packages/admin/src/pages/technologies/Form/index.js
  packages/admin/src/providers/dataProvider.js
Labels: ADMIN, comp:technologies

#791 Update user profile fields
  packages/web/components/Form/MaskedInputField.js
  packages/web/components/Modal/CreateInstitutionsModal/StepTwo.js
  packages/web/pages/user/my-account/index.js
  packages/web/public/static/locales/en/account.json
  packages/web/public/static/locales/pt/account.json
  packages/web/utils/maskPattern.js
  packages/web/utils/masks.js
Labels: WEB, bug, comp:users, enhancement

#807 Atualizar tecnologias no ADMIN
  packages/admin/src/pages/technologies/Form/ResponsibleForm.js
  packages/admin/src/pages/technologies/Form/index.js
  packages/admin/src/pages/technologies/list.js
  packages/api/app/Controllers/Http/TechnologyController.js
  packages/api/start/routes/technologies.js
Labels: ADMIN, URGENT

#812 🧑 Fix user data update 🐦
  packages/web/components/Form/SelectField.js
  packages/web/pages/user/my-account/index.js
Labels: URGENT, WEB, bug

#803 Ajustes no formulário da tecnologia
  .github/workflows/automated-tests.yml
  cypress.json
  cypress/e2e/web/createTechnology.js
  cypress/fixtures/user.json
  cypress/support/commands.js
  package-lock.json
  package.json
  packages/web/__tests__/pages/user/my-account/__snapshots__/index.js.snap
  packages/web/components/Authorization/__tests__/__snapshots__/Protected.js.snap
  packages/web/components/Card/Share/__tests__/__snapshots__/index.js.snap
  packages/web/components/Modal/ModalProvider.js
  packages/web/components/Modal/NeedToCompleteTheRegistration/index.js
  packages/web/components/Modal/NeedToCompleteTheRegistration/styles.js
  packages/web/components/Modal/__tests__/__snapshots__/BuyTechnologyModal.js.snap
  packages/web/components/Modal/__tests__/__snapshots__/RegisterModal.js.snap
  packages/web/components/Technology/Details/Tables/Responsibles.js
  packages/web/components/Technology/Details/__tests__/Responsibles.test.js
  packages/web/components/Technology/Details/__tests__/__snapshots__/Responsibles.test.js.snap
  packages/web/components/TechnologyForm/Costs/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/Costs/index.js
  packages/web/components/TechnologyForm/MapAndAttachments/index.js
  packages/web/components/TechnologyForm/Responsible/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/Responsible/index.js
  packages/web/components/TechnologyForm/Review/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/Review/index.js
  packages/web/pages/technology/[id]/edit.js
Labels: URGENT, WEB

#819 Improve/api/seed default
  packages/api/app/Models/Permission.js
  packages/api/app/Models/Role.js
  packages/api/app/Models/Taxonomy.js
  packages/api/app/Models/Term.js
  packages/api/database/seeds/01_KnowledgeAreaSeeder.js
  packages/api/database/seeds/03_TermSeeder.js
  packages/api/database/seeds/05_TechnologySeeder.js
  packages/api/database/seeds/06_PermissionSeeder.js
  packages/api/database/seeds/11_DisclaimerSeeder.js
Labels: API, enhancement

#831 Botão "reenviar token" e Tradução de labels
  packages/admin/src/components/Menu.js
  packages/admin/src/components/Technology/TechnologyFilterBar.js
  packages/admin/src/components/User/ResendConfirmationEmail.js
  packages/admin/src/components/index.js
  packages/admin/src/pages/ideas/Form/index.js
  packages/admin/src/pages/ideas/list.js
  packages/admin/src/pages/institutions/list.js
  packages/admin/src/pages/reviewers/Form/index.js
  packages/admin/src/pages/reviewers/edit.js
  packages/admin/src/pages/reviewers/list.js
  packages/admin/src/pages/roles/Form/index.js
  packages/admin/src/pages/roles/list.js
  packages/admin/src/pages/taxonomy/list.js
  packages/admin/src/pages/technologies/Form/AttachmentsForm.js
  packages/admin/src/pages/technologies/Form/CostForm.js
  packages/admin/src/pages/technologies/Form/ResponsibleForm.js
  packages/admin/src/pages/technologies/Form/ReviewersForm.js
  packages/admin/src/pages/technologies/Form/Revisions.js
  packages/admin/src/pages/technologies/Form/index.js
  packages/admin/src/pages/technologies/list.js
  packages/admin/src/pages/technologyOrder/FilterBar.js
  packages/admin/src/pages/technologyOrder/edit.js
  packages/admin/src/pages/technologyOrder/list.js
  packages/admin/src/pages/terms/Form/index.js
  packages/admin/src/pages/terms/list.js
  packages/admin/src/pages/users/Form/AboutForm.js
  packages/admin/src/pages/users/Form/Institution.js
  packages/admin/src/pages/users/Form/Reviews.js
  packages/admin/src/pages/users/Form/Technologies.js
  packages/admin/src/pages/users/Form/Uploads.js
  packages/admin/src/pages/users/Form/index.js
  packages/admin/src/pages/users/list.js
  packages/admin/src/providers/i18nProvider.js
Labels: ADMIN

#827 User onDelete in token schema
  packages/api/database/migrations/1613080094530_on_delete_in_token_schema.js
Labels: API, bug

#813 Improve/api/tests
  packages/api/database/factory.js
  packages/api/test/functional/announcement.spec.js
  packages/api/test/functional/disclaimers.spec.js
  packages/api/test/functional/idea.spec.js
  packages/api/test/functional/institution.spec.js
  packages/api/test/functional/message.spec.js
  packages/api/test/functional/researcher.spec.js
  packages/api/test/functional/reviewer.spec.js
  packages/api/test/functional/service.spec.js
  packages/api/test/functional/technology-cost.spec.js
  packages/api/test/functional/technology-distribution.spec.js
  packages/api/test/functional/technology-order.spec.js
  packages/api/test/functional/technology-question.spec.js
  packages/api/test/functional/technology-review.spec.js
  packages/api/test/functional/technology.spec.js
  packages/api/test/functional/upload.spec.js
  packages/api/test/functional/user-bookmark.spec.js
  packages/api/test/functional/user-fields-checking.spec.js
  packages/api/test/functional/user.spec.js
Labels: API, improvements

#830 [SERVICES] Homepage
  cypress/e2e/web/technologies.js
  packages/web/__tests__/pages/t/__snapshots__/index.js.snap
  packages/web/algoliaIndexes.js
  packages/web/components/Algolia/hitCard.js
  packages/web/components/Algolia/provider.js
  packages/web/components/Algolia/searchBox.js
  packages/web/components/Button/RectangularButton.js
  packages/web/components/Button/styles.js
  packages/web/components/Card/Card.js
  packages/web/components/Card/Likes/index.js
  packages/web/components/Card/Likes/styles.js
  packages/web/components/Card/ServiceCard.js
  packages/web/components/Card/TechnologyCard.js
  packages/web/components/Card/index.js
  packages/web/components/Card/styles.js
  packages/web/components/Common/Layout.js
  packages/web/components/Common/Typography.js
  packages/web/components/Header/Header.js
  packages/web/components/Header/NewSolutionButton.js
  packages/web/components/Header/index.js
  packages/web/components/Hero/Hero.js
  packages/web/components/Hero/HeroSearch/HeroSearch.js
  packages/web/components/Hero/styles.js
  packages/web/components/Hero/tabs.js
  packages/web/components/LandingPage/Header/Header.js
  packages/web/components/LandingPage/Header/NewSolutionButton.js
  packages/web/components/LandingPage/Header/index.js
  packages/web/components/Modal/__tests__/__snapshots__/BuyTechnologyModal.js.snap
  packages/web/components/SolutionsSection/SolutionsSection.js
  packages/web/components/SolutionsSection/index.js
  packages/web/components/SolutionsSection/styles.js
  packages/web/components/TechnologiesSection/TechnologiesSection.js
  packages/web/components/TechnologiesSection/index.js
  packages/web/components/Technology/Details/Header.js
  packages/web/config.js
  packages/web/next.config.js
  packages/web/pages/index.js
  packages/web/pages/t/[technology]/index.js
  packages/web/public/buttons/notebook-writing.png
  packages/web/public/buttons/paper-light.png
  packages/web/public/buttons/papers-background.png
  packages/web/public/static/locales/en/common.json
  packages/web/public/static/locales/en/search.json
  packages/web/public/static/locales/pt/common.json
  packages/web/public/static/locales/pt/search.json
  packages/web/services/__tests__/auth.js
  packages/web/services/auth.js
  packages/web/services/bookmark.js
  packages/web/services/index.js
  packages/web/services/services.js
  packages/web/utils/technology.js
Labels: WEB, improvements

#832 Add thumbnail to service
  packages/api/app/Controllers/Http/ServiceController.js
  packages/api/app/Models/Service.js
  packages/api/app/Models/Traits/Params.js
  packages/api/database/factory.js
  packages/api/database/migrations/1613231368109_service_thumbnail_schema.js
  packages/api/start/routes/services.js
  packages/api/test/functional/service.spec.js
Labels: API

#834 Tradução dos status no ADMIN
  packages/admin/src/components/StatusField.js
  packages/admin/src/components/StatusForm/statuses.js
  packages/admin/src/components/Technology/KnowledgeAreaInput.js
  packages/admin/src/components/Technology/TechnologyTermsSelect.js
  packages/admin/src/components/index.js
  packages/admin/src/pages/announcements/list.js
  packages/admin/src/pages/reviewers/list.js
  packages/admin/src/pages/technologies/Form/AboutForm.js
  packages/admin/src/pages/technologies/list.js
  packages/admin/src/pages/technologyOrder/FilterBar.js
  packages/admin/src/pages/technologyOrder/list.js
  packages/admin/src/pages/users/list.js
  packages/admin/src/providers/i18nProvider.js
  packages/admin/src/providers/translations/statuses.js
Labels: ADMIN, improvements

#833 Atualização da aba ATTACHMENTS no cadastro de tecnologias em ADMIN
  packages/admin/src/components/ButtonDeleteUpload.js
  packages/admin/src/components/UploadInput.js
  packages/admin/src/components/index.js
  packages/admin/src/pages/institutions/Form/index.js
  packages/admin/src/pages/technologies/Form/AttachmentsForm.js
  packages/admin/src/providers/i18nProvider.js
Labels: ADMIN, comp:technologies

#838 Admin can update user status and other informations
  packages/admin/src/pages/users/Form/AboutForm.js
  packages/api/app/Controllers/Http/UserController.js
Labels: API

#835 Admin can updates institution responsible
  packages/api/app/Controllers/Http/InstitutionController.js
  packages/api/app/Validators/UpdateInstitutionResponsible.js
  packages/api/start/routes/institutions.js
  packages/api/test/functional/institution.spec.js
Labels: API, comp:institution

#800 Feature/api/device-token
  packages/api/app/Controllers/Http/DeviceTokenController.js
  packages/api/app/Models/DeviceToken.js
  packages/api/app/Models/Traits/Params.js
  packages/api/app/Models/User.js
  packages/api/app/Validators/StoreDeviceToken.js
  packages/api/database/factory.js
  packages/api/database/migrations/1612300913780_device_token_schema.js
  packages/api/start/routes/deviceTokens.js
  packages/api/start/routes/index.js
  packages/api/test/functional/device-token.spec.js
Labels: API

#844 Only show registration modal if user is logged in
  packages/web/pages/technology/[id]/edit.js
Labels: WEB, bug, comp:auth

#850 Add payment message to service
  packages/api/app/Controllers/Http/ServiceController.js
  packages/api/database/factory.js
  packages/api/database/migrations/1614026934264_add_payment_message_to_service_schema.js
  packages/api/start/routes/services.js
Labels: API, comp:services

#847 Template email renders html
  packages/api/app/Controllers/Http/ReviewerController.js
  packages/api/resources/views/emails/active-account.edge
  packages/api/resources/views/emails/announcement-published.edge
  packages/api/resources/views/emails/approved-reviewer.edge
  packages/api/resources/views/emails/changes-made.edge
  packages/api/resources/views/emails/confirm-account.edge
  packages/api/resources/views/emails/contact-us.edge
  packages/api/resources/views/emails/forgot-password.edge
  packages/api/resources/views/emails/new-email-verification.edge
  packages/api/resources/views/emails/reset-password.edge
  packages/api/resources/views/emails/service-requested.edge
  packages/api/resources/views/emails/sucess-change-email.edge
  packages/api/resources/views/emails/technology-invitation.edge
  packages/api/resources/views/emails/technology-order-cancelled.edge
  packages/api/resources/views/emails/technology-order-closed.edge
  packages/api/resources/views/emails/technology-order.edge
  packages/api/resources/views/emails/technology-question-answered.edge
  packages/api/resources/views/emails/technology-question.edge
  packages/api/resources/views/emails/technology-reviewer.edge
  packages/api/resources/views/emails/technology-revision-revoked.edge
  packages/api/resources/views/emails/technology-revision.edge
  packages/api/resources/views/layout/mail.edge
  packages/api/start/routes/contact.js
Labels: API, URGENT

#793 Google Analytics integration
  packages/api/.env.ci
  packages/api/.env.example
  packages/api/.env.testing
  packages/api/README.md
  packages/api/app/Jobs/UpdateTechnologyTotalViews.js
  packages/api/app/Utils/analytics.js
  packages/api/app/Utils/index.js
  packages/api/config/analytics.js
  packages/api/database/migrations/1612196178491_technology_total_views_schema.js
  packages/api/package-lock.json
  packages/api/package.json
  packages/api/preloads/bull.js
  packages/api/providers/GoogleProvider.js
  packages/api/start/app.js
  packages/api/start/jobs.js
  packages/api/test/unit/analytics.spec.js
Labels: API, Epic, comp:technologies

#849 Add comment to service orders
  packages/api/app/Controllers/Http/ServiceController.js
  packages/api/database/migrations/1614012936935_add_comment_to_service_order_schema.js
  packages/api/resources/views/emails/service-requested.edge
  packages/api/start/routes/services.js
  packages/api/test/functional/service.spec.js
Labels: API, comp:services

#836 Service Bookmarks
  packages/api/app/Controllers/Http/AuthController.js
  packages/api/app/Controllers/Http/ServiceController.js
  packages/api/app/Controllers/Http/UserBookmarkController.js
  packages/api/app/Controllers/Http/UserController.js
  packages/api/app/Models/Service.js
  packages/api/app/Models/Traits/Params.js
  packages/api/app/Models/User.js
  packages/api/app/Validators/StoreUserBookmark.js
  packages/api/app/Validators/UserBookmark.js
  packages/api/database/migrations/1613398704961_service_bookmark_schema.js
  packages/api/database/migrations/1613399371141_service_likes_schema.js
  packages/api/database/seeds/08_UserBookmarkSeeder.js
  packages/api/start/routes/bookmarks.js
  packages/api/test/functional/user-bookmark.spec.js
  packages/api/test/functional/user.spec.js
  packages/web/components/Header/UserHeader.js
Labels: API, comp:services

#839 [SERVICES] Shopping cart
  packages/web/__tests__/pages/t/__snapshots__/index.js.snap
  packages/web/components/Algolia/searchBox.js
  packages/web/components/Button/RectangularButton.js
  packages/web/components/Button/styles.js
  packages/web/components/Card/ServiceCard.js
  packages/web/components/Card/TechnologyCard.js
  packages/web/components/Common/Typography.js
  packages/web/components/EmptyScreen/__tests__/index.js
  packages/web/components/EmptyScreen/index.js
  packages/web/components/EmptyScreen/styles.js
  packages/web/components/Form/QuantityField.js
  packages/web/components/Form/index.js
  packages/web/components/Form/styles.js
  packages/web/components/HamburguerMenu/HamburguerMenu.js
  packages/web/components/Header/Header.js
  packages/web/components/Header/ShoppingCart.js
  packages/web/components/Header/UserHeader.js
  packages/web/components/Header/index.js
  packages/web/components/Header/links.js
  packages/web/components/Hero/HeroSearch/styles.js
  packages/web/components/LandingPage/Header/Dropdown.js
  packages/web/components/LandingPage/Header/Header.js
  packages/web/components/LandingPage/Header/LanguageSwitcher.js
  packages/web/components/LandingPage/Header/NewSolutionButton.js
  packages/web/components/LandingPage/Header/UserHeader.js
  packages/web/components/LandingPage/Header/index.js
  packages/web/components/LandingPage/Header/links.js
  packages/web/components/Modal/ModalProvider.js
  packages/web/components/Modal/NeedToCompleteTheRegistration/index.js
  packages/web/components/Modal/__tests__/__snapshots__/BuyTechnologyModal.js.snap
  packages/web/components/ShoppingCart/CartItem/index.js
  packages/web/components/ShoppingCart/CartItem/styles.js
  packages/web/components/ShoppingCart/ShoppingCartContext.js
  packages/web/components/ShoppingCart/ShoppingCartProvider.js
  packages/web/components/ShoppingCart/index.js
  packages/web/components/User/UserProvider.js
  packages/web/components/_Layouts/LandingPage.js
  packages/web/hooks/index.js
  packages/web/hooks/useShoppingCart.js
  packages/web/pages/_app.js
  packages/web/pages/about.js
  packages/web/pages/contact-us.js
  packages/web/pages/index.js
  packages/web/pages/shopping-cart.js
  packages/web/public/static/locales/en/common.json
  packages/web/public/static/locales/pt/common.json
  packages/web/services/index.js
  packages/web/services/service.js
  packages/web/services/services.js
  packages/web/utils/enums/api.enum.js
  packages/web/utils/helper.js
Labels: Epic, comp:services, enhancement

#851 [SERVICES] Register page
  cypress/e2e/web/login.js
  packages/api/app/Controllers/Http/AuthController.js
  packages/api/app/Controllers/Http/ServiceController.js
  packages/api/package-lock.json
  packages/api/test/functional/service.spec.js
  packages/web/components/Button/styles.js
  packages/web/components/Common/Typography.js
  packages/web/components/Editor/index.js
  packages/web/components/Form/HtmlViewField.js
  packages/web/components/Form/SelectField.js
  packages/web/components/Form/TextField.js
  packages/web/components/Form/__tests__/__snapshots__/Fields.js.snap
  packages/web/components/Form/index.js
  packages/web/components/Header/NewSolutionButton.js
  packages/web/components/Modal/CKEditorModal/index.js
  packages/web/components/Modal/ModalProvider.js
  packages/web/components/TechnologyForm/Costs/__tests__/__snapshots__/index.js.snap
  packages/web/pages/_app.js
  packages/web/pages/service/new.js
  packages/web/pages/solution/new.js
  packages/web/public/buttons/agro-machine.png
  packages/web/public/buttons/hand-holding-earth.png
  packages/web/services/service.js
  packages/web/services/terms.js
  packages/web/styles/global.js
  packages/web/utils/service.js
Labels: API, WEB, comp:order, comp:services
