Repository ufersa/plataforma-sabia, pull requests merged in 2021-09, with the labels that each got.

#1133 New forgot password flow
  packages/api/app/Controllers/Http/AuthController.js
  packages/api/app/Controllers/Http/TechnologyController.js
  packages/api/app/Controllers/Http/UserController.js
  packages/api/app/Utils/statuses.js
  packages/api/app/Validators/CheckToken.js
  packages/api/start/routes/auth.js
  packages/api/test/functional/auth.spec.js
  packages/api/test/functional/user.spec.js
Labels: API, comp:auth

#1177 Update packages README
  README.md
  packages/api/README.md
  packages/web/README.md
Labels: documentation

#1176 New forgot password page
  cypress/e2e/web/resetPassword.js
  cypress/support/commands.js
  packages/web/components/Button/styles.js
  packages/web/components/Form/Error.js
  packages/web/components/Form/VerificationCodeField.js
  packages/web/components/Form/index.js
  packages/web/components/Form/styles.js
  packages/web/components/Modal/ForgotPasswordModal/index.js
  packages/web/components/Modal/ForgotPasswordModal/styles.js
  packages/web/components/Modal/ModalProvider.js
  packages/web/components/Modal/__tests__/__snapshots__/BuyTechnologyModal.js.snap
  packages/web/components/PasswordStrength/index.js
  packages/web/components/PasswordStrength/styles.js
  packages/web/components/Register/StepTwo/index.js
  packages/web/components/ResetPassword/StepFour.js
  packages/web/components/ResetPassword/StepOne.js
  packages/web/components/ResetPassword/StepThree.js
  packages/web/components/ResetPassword/StepTwo.js
  packages/web/components/ResetPassword/index.js
  packages/web/components/ResetPassword/steps.js
  packages/web/components/ResetPassword/styles.js
  packages/web/components/SignInForm/index.js
  packages/web/components/SignInForm/styles.js
  packages/web/components/SolutionsSection/__tests__/__snapshots__/SolutionCard.js.snap
  packages/web/components/TechnologyForm/Review/__tests__/__snapshots__/index.js.snap
  packages/web/pages/_app.js
  packages/web/pages/auth/reset-password.js
  packages/web/pages/resetar-senha.js
  packages/web/screens/ResetPassword/index.js
  packages/web/screens/SignIn/index.js
  packages/web/screens/SignIn/styles.js
  packages/web/services/auth.js
  packages/web/utils/enums/pages.enum.js
  packages/web/utils/helper.js
Labels: enhancement, WEB, comp:auth

#1179 Change announcement banner
  packages/web/components/AnnouncementBanner/index.js
  packages/web/public/banner-desktop.png
  packages/web/public/banner-mobile.png
Labels: WEB

#1180 Fix login E2E test
  cypress/e2e/web/login.js
  cypress/support/commands.js
  packages/web/components/Header/UserHeader.js
Labels: bug, tests

#1175 Get blog posts
  package-lock.json
  packages/admin/package-lock.json
  packages/api/app/Controllers/Http/BlogController.js
  packages/api/app/Validators/GetBlogPosts.js
  packages/api/config/blog.js
  packages/api/package-lock.json
  packages/api/providers/BlogProvider.js
  packages/api/start/app.js
  packages/api/start/hooks.js
  packages/api/start/routes/blog.js
  packages/api/start/routes/index.js
  packages/api/test/functional/blog.spec.js
  packages/api/test/utils/BlogFakeService.js
  packages/web/package-lock.json
Labels: API, BLOG

#1184 Get post thumbnail from blog
  packages/api/providers/BlogProvider.js
Labels: API, BLOG
