Repository ufersa/plataforma-sabia, pull requests merged in 2021-05, with the labels that each got.

#1019 Change pages files to pt-br
  packages/web/components/Algolia/TechnologyHitCard/index.js
  packages/web/components/Card/TechnologyCard.js
  packages/web/components/EmptyScreen/index.js
  packages/web/components/Footer/Footer.js
  packages/web/components/Form/FormWizard.js
  packages/web/components/Header/Header.js
  packages/web/components/Header/ShoppingCart.js
  packages/web/components/Modal/BeAReviewerModal/index.js
  packages/web/components/Modal/RegisterModal/index.js
  packages/web/components/Modal/TechnologyOrderDetailsModal/index.js
  packages/web/components/SolutionsSection/SolutionsWrapper.js
  packages/web/components/TechnologyForm/Review/index.js
  packages/web/components/UserProfile/pages.js
  packages/web/pages/_error.js
  packages/web/pages/categories.js
  packages/web/pages/developers.js
  packages/web/pages/editais.js
  packages/web/pages/ideias.js
  packages/web/pages/index.js
  packages/web/pages/platform.js
  packages/web/pages/privacy-policy.js
  packages/web/pages/shopping-cart.js
  packages/web/pages/solution/new.js
  packages/web/pages/user/my-account/my-services.js
  packages/web/pages/user/my-account/technologies.js
  packages/web/screens/Vitrines/HitCard/index.js
  packages/web/utils/consts/pages.js
Labels: WEB, improvements

#1020 Scroll to top when search query changes
  packages/web/components/Algolia/index.js
  packages/web/components/Algolia/scrollTo.js
  packages/web/components/MainSearch/MainSearch.js
Labels: WEB, comp:search, improvements

#1024 Submenus and Icons on Admin Panel
  packages/admin/package-lock.json
  packages/admin/package.json
  packages/admin/src/App.js
  packages/admin/src/components/Layout.js
  packages/admin/src/providers/i18nProvider.js
  packages/admin/src/utils/icons.js
Labels: ADMIN, improvements

#998 Adjust Carousel Slick-Dots
  packages/web/components/Technology/Details/ImagesCarousel/index.js
  packages/web/styles/global.js
Labels: WEB, comp:technologies, improvements

#1021 Fixes bug in technology showcase
  packages/api/app/Commands/AlgoliaIndex.js
  packages/api/app/Controllers/Http/InstitutionController.js
  packages/api/test/functional/institution.spec.js
Labels: bug, comp:institution, comp:technologies

#1014 Decode parameters sent by URL
  packages/api/app/Middleware/DecodeUriParams.js
  packages/api/start/kernel.js
Labels: API, bug

#1039 Get Hero image through SSR
  packages/web/components/Hero/Hero.js
  packages/web/pages/index.js
Labels: WEB, bug

#1029 updating navigation links
  packages/web/components/Header/links.js
  packages/web/components/LandingPage/Resources/index.js
  packages/web/utils/consts/pages.js
Labels: WEB

#1036 🧪 Use another Redis database for integration testing
  packages/api/.env.testing
  packages/api/config/redis.js
  packages/api/vowfile.js
Labels: API, improvements, tests

#1043 🧪 Enhancing test scripts
  .github/workflows/automated-tests.yml
  .github/workflows/build-and-deploy-image-to-production-dispatch.yml
  .github/workflows/build-and-deploy-image-to-staging-dispatch.yml
  .github/workflows/build-and-deploy-image-to-staging.yml
  packages/web/package.json
Labels: DEVOPS, WEB, tests

#1044 📃 Update the API documentation path
  packages/api/apidoc.json
  packages/api/package-lock.json
  packages/api/package.json
  packages/api/start/routes/bookmarks.js
Labels: API, documentation

#1041 🔐 Move Google Maps key to .env
  packages/web/.env.example
  packages/web/.env.testing
  packages/web/config.js
Labels: WEB, security

#1016 🏙 IBGE data integration
  packages/api/app/Controllers/Http/StateController.js
  packages/api/app/Models/City.js
  packages/api/app/Models/KnowledgeArea.js
  packages/api/app/Models/State.js
  packages/api/app/Models/Traits/Cache.js
  packages/api/app/Models/Traits/InvalidateCache.js
  packages/api/app/Utils/cache.js
  packages/api/app/Validators/GetCity.js
  packages/api/app/Validators/GetState.js
  packages/api/config/app.js
  packages/api/database/migrations/1619278867393_state_schema.js
  packages/api/database/migrations/1619278870015_city_schema.js
  packages/api/database/seeds/19_CitySeeder.js
  packages/api/database/utils/mocks/cities.json
  packages/api/database/utils/mocks/index.js
  packages/api/database/utils/mocks/states.json
  packages/api/package.json
  packages/api/start/routes/index.js
  packages/api/start/routes/states.js
  packages/api/test/functional/state.spec.js
Labels: API, enhancement

#1049 Add Hotjar script
  packages/web/config.js
  packages/web/pages/_app.js
Labels: WEB, complexity:easy, enhancement

#1051 Remove babel i18next plugin
  packages/web/babel.config.js
  packages/web/package.json
Labels: WEB, improvements

#1048 Indexes to Algolia Updated technology by user with permission
  packages/api/app/Controllers/Http/TechnologyController.js
  packages/api/test/functional/technology.spec.js
Labels: API, comp:technologies
