Repository ufersa/plataforma-sabia, pull requests merged in 2021-06, with the labels that each got.

#1053 Services on ADMIN
  packages/admin/src/App.js
  packages/admin/src/components/BooleanNumField.js
  packages/admin/src/components/BooleanNumInput.js
  packages/admin/src/components/Service/ServiceFilterBar.js
  packages/admin/src/components/StatusForm/statuses.js
  packages/admin/src/components/index.js
  packages/admin/src/pages/services/Form/index.js
  packages/admin/src/pages/services/create.js
  packages/admin/src/pages/services/edit.js
  packages/admin/src/pages/services/index.js
  packages/admin/src/pages/services/list.js
  packages/admin/src/providers/i18nProvider.js
  packages/admin/src/providers/translations/statuses.js
  packages/admin/src/utils/icons.js
Labels: ADMIN

#1027 Feature/api/geo info
  packages/api/app/Controllers/Http/LocationController.js
  packages/api/app/Controllers/Http/TechnologyController.js
  packages/api/app/Models/Location.js
  packages/api/app/Models/Technology.js
  packages/api/app/Models/Traits/Params.js
  packages/api/app/Validators/StoreLocation.js
  packages/api/app/Validators/TechnologyLocation.js
  packages/api/app/Validators/UpdateLocation.js
  packages/api/database/factory.js
  packages/api/database/migrations/1621895452686_location_schema.js
  packages/api/database/migrations/1622313662902_technology_location_schema.js
  packages/api/database/seeds/20_LocationSeeder.js
  packages/api/start/routes/index.js
  packages/api/start/routes/locations.js
  packages/api/start/routes/technologies.js
  packages/api/test/functional/location.spec.js
  packages/api/test/functional/technology.spec.js
Labels: API, comp:technologies

#1042 Lists all users in responsible technology tab order ASC
  packages/admin/src/pages/technologies/Form/ResponsibleForm.js
  packages/api/app/Middleware/HandleParam.js
Labels: ADMIN, comp:technologies

#1059 Check for thumbnail while rendering carousel
  packages/web/components/Technology/Details/ImagesCarousel/index.js
Labels: WEB, bug, comp:technologies

#991 Hotfix/api/duplicated terms
  packages/api/app/Controllers/Http/TermController.js
  packages/api/app/Models/Term.js
  packages/api/app/Utils/errors.js
  packages/api/app/Utils/slugify.js
  packages/api/database/factory.js
  packages/api/resources/locales/en/error.json
  packages/api/resources/locales/pt/error.json
  packages/api/start/routes/terms.js
  packages/api/test/functional/term.spec.js
  packages/api/test/unit/slugify.spec.js
Labels: API, improvements

#1065 Fix technology images upload
  cypress/e2e/web/technologyForm.js
  cypress/fixtures/image-one.jpg
  cypress/fixtures/image-two.jpg
  cypress/support/index.js
  package-lock.json
  package.json
  packages/web/components/TechnologyForm/MapAndAttachments/ImagesPreview.js
  packages/web/components/TechnologyForm/MapAndAttachments/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/MapAndAttachments/index.js
Labels: WEB, bug

#1066 Melhorias na listagem de usuários no ADMIN
  packages/admin/src/components/User/UserFilterBar.js
  packages/admin/src/components/index.js
  packages/admin/src/pages/users/list.js
  packages/api/app/Controllers/Http/UserController.js
  packages/api/app/Models/Traits/Params.js
  packages/api/app/Models/User.js
Labels: ADMIN, API

#1070 Adds location_type in technology_location
  packages/api/app/Controllers/Http/TechnologyController.js
  packages/api/app/Models/Technology.js
  packages/api/app/Utils/statuses.js
  packages/api/app/Validators/StoreLocation.js
  packages/api/app/Validators/TechnologyLocation.js
  packages/api/database/migrations/1623709505510_technology_location_type_schema.js
  packages/api/database/migrations/1623711207596_update_place_id_schema.js
  packages/api/start/routes/technologies.js
  packages/api/test/functional/technology.spec.js
Labels: API, comp:technologies

#1074 Use new locations schema to store technology maps
  packages/api/app/Utils/statuses.js
  packages/api/start/routes/technologies.js
  packages/web/__tests__/pages/t/__snapshots__/index.js.snap
  packages/web/__tests__/pages/user/my-account/__snapshots__/revisions.js.snap
  packages/web/__tests__/pages/user/my-account/curate/__snapshots__/profile.js.snap
  packages/web/components/Footer/Footer.js
  packages/web/components/Form/FormWizard.js
  packages/web/components/GoogleMaps/index.js
  packages/web/components/Technology/Details/Tabs/GeoLocation.js
  packages/web/components/TechnologyForm/MapAndAttachments/index.js
  packages/web/components/TechnologyForm/MapAndAttachments/styles.js
  packages/web/components/TechnologyForm/Review/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/Review/index.js
  packages/web/components/UserProfile/PageLink.js
  packages/web/components/UserProfile/UserProfile.js
  packages/web/components/UserProfile/UserProfileDropDown.js
  packages/web/components/UserProfile/__tests__/__snapshots__/UserProfileDropDown.js.snap
  packages/web/pages/technology/[id]/edit.js
  packages/web/services/index.js
  packages/web/services/locations.js
  packages/web/services/technology.js
  packages/web/utils/consts/pages.js
  packages/web/utils/enums/technology.enums.js
Labels: WEB, comp:locations, comp:technologies, enhancement

#1081 Reject non admin users
  packages/admin/src/providers/authProvider.js
  packages/admin/src/providers/dataProvider.js
Labels: ADMIN

#1084 Do not delete locations in technology form
  packages/api/package.json
  packages/web/components/TechnologyForm/MapAndAttachments/index.js
Labels: WEB, improvements

#1061 Fix slack error notifications
  packages/api/app/Exceptions/Handler.js
  packages/api/app/Utils/Slack/notifyError.js
  packages/web/components/TechnologyForm/MapAndAttachments/index.js
  packages/web/package-lock.json
Labels: API, bug

#1095 Institution Slug
  packages/api/app/Models/Institution.js
  packages/api/app/Utils/slugify.js
  packages/api/database/migrations/1624831265026_institution_slug_schema.js
  packages/api/package-lock.json
Labels: comp:institution

#1097 Show development costs of all technologies
  packages/web/components/TechnologyForm/Costs/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/Costs/index.js
Labels: WEB, comp:technologies, enhancement

#1099 Add announcement banner to home page
  .eslintrc.js
  packages/web/components/AnnouncementBanner/index.js
  packages/web/pages/index.js
  packages/web/public/banner-desktop.png
  packages/web/public/banner-mobile.png
Labels: URGENT, WEB, enhancement
