Repository ufersa/plataforma-sabia, pull requests merged in 2021-01, with the labels that each got.

#725 Add empty screen
  packages/web/components/EmptyScreen/__tests__/index.js
  packages/web/components/EmptyScreen/index.js
  packages/web/components/EmptyScreen/styles.js
  packages/web/pages/user/my-account/bookmarks.js
  packages/web/pages/user/my-account/curate-technologies.js
  packages/web/pages/user/my-account/my-orders.js
  packages/web/pages/user/my-account/orders.js
  packages/web/pages/user/my-account/questions.js
  packages/web/pages/user/my-account/revisions.js
  packages/web/pages/user/my-account/technologies.js
  packages/web/public/empty-rafiki.svg
Labels: WEB, improvements

#723 Integrate technology order process
  packages/api/app/Controllers/Http/TechnologyOrderController.js
  packages/web/components/Modal/BuyTechnologyModal/index.js
  packages/web/components/Modal/BuyTechnologyModal/styles.js
  packages/web/components/Modal/CancelOrderModal/index.js
  packages/web/components/Modal/OrderDetailsModal/index.js
  packages/web/components/Modal/SettleDealModal/index.js
  packages/web/components/Modal/__tests__/CreateInstitutionsModal.js
  packages/web/components/Modal/__tests__/__snapshots__/BuyTechnologyModal.js.snap
  packages/web/pages/user/my-account/orders.js
  packages/web/services/__tests__/technology.js
  packages/web/services/__tests__/technologyOrders.js
  packages/web/services/index.js
  packages/web/services/technology.js
  packages/web/services/technologyOrders.js
  packages/web/utils/enums/orders.enum.js
  packages/web/utils/technologyOrders.js
Labels: WEB, comp:order, improvements

#729 👷 CI improvements + dependency updates 📦
  .eslintrc.js
  .github/workflows/automated-tests.yml
  .gitignore
  lerna.json
  package-lock.json
  package.json
  packages/admin/package-lock.json
  packages/admin/package.json
  packages/api/.env.testing
  packages/api/.nycrc
  packages/api/ace.js
  packages/api/apidoc.json
  packages/api/docker-compose.yml
  packages/api/package-lock.json
  packages/api/package.json
  packages/api/start/app.js
  packages/web/.env.example
  packages/web/.env.testing
  packages/web/Dockerfile
  packages/web/__tests__/pages/t/__snapshots__/index.js.snap
  packages/web/babel.config.js
  packages/web/components/Card/Share/__tests__/__snapshots__/index.js.snap
  packages/web/components/Modal/__tests__/BuyTechnologyModal.js
  packages/web/components/Modal/__tests__/__snapshots__/BuyTechnologyModal.js.snap
  packages/web/components/Modal/__tests__/__snapshots__/CreateInstitutionsModal.js.snap
  packages/web/components/Modal/__tests__/__snapshots__/RegisterModal.js.snap
  packages/web/components/Rating/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/MapAndAttachments/__tests__/__snapshots__/index.js.snap
  packages/web/components/TechnologyForm/Review/__tests__/__snapshots__/index.js.snap
  packages/web/jest.config.js
  packages/web/package-lock.json
  packages/web/package.json
  packages/web/services/auth.js
  packages/web/services/terms.js
  packages/web/setupTests.js
  packages/web/stories/Layout.stories.js
  packages/web/tests/test-utils.js
Labels: DEVOPS, dependencies, improvements, tests

#744 Integrate researcher chat with API
  packages/api/app/Controllers/Http/ChatController.js
  packages/api/app/Controllers/Http/TechnologyOrderController.js
  packages/web/components/Form/FormWizard.js
  packages/web/components/Modal/CurateTechnologyModal/index.js
  packages/web/components/OrderMessages/index.js
  packages/web/components/OrderMessages/styles.js
  packages/web/pages/user/my-account/orders.js
  packages/web/public/static/locales/en/account.json
  packages/web/public/static/locales/pt/account.json
  packages/web/services/__tests__/chat.js
  packages/web/services/chat.js
  packages/web/services/index.js
  packages/web/utils/enums/api.enum.js
  packages/web/utils/helper.js
  packages/web/utils/technologyOrders.js
Labels: WEB, improvements

#703 Update Technology Database
  cypress/e2e/web/createTechnology.js
  packages/api/app/Controllers/Http/KnowledgeAreaController.js
  packages/api/app/Controllers/Http/TechnologyController.js
  packages/api/app/Models/KnowledgeArea.js
  packages/api/app/Models/Technology.js
  packages/api/app/Models/Traits/Params.js
  packages/api/app/Utils/statuses.js
  packages/api/app/Validators/StoreTechnology.js
  packages/api/database/factory.js
  packages/api/database/migrations/1607722377019_knowledge_area_schema.js
  packages/api/database/migrations/1608160616270_technology_new_fields_schema.js
  packages/api/database/seeds/04_KnowledgeAreaSeeder.js
  packages/api/database/seeds/05_TechnologySeeder.js
  packages/api/database/seeds/06_PermissionSeeder.js
  packages/api/database/seeds/07_TechnologyReviewSeeder.js
  packages/api/database/seeds/08_UserBookmarkSeeder.js
  packages/api/database/seeds/09_TechnologyCostSeeder.js
  packages/api/database/seeds/10_RevisionSeeder.js
  packages/api/database/seeds/11_DisclaimerSeeder.js
  packages/api/database/seeds/12_TechnologyOrderSeeder.js
  packages/api/database/seeds/13_TechnologyQuestionSeeder.js
  packages/api/database/seeds/14_IdeaSeeder.js
  packages/api/package.json
  packages/api/resources/json/knowledge_areas.json
  packages/api/start/routes/index.js
  packages/api/start/routes/knowledgeAreas.js
  packages/api/start/routes/technologies.js
  packages/api/test/functional/knowledge-area.spec.js
  packages/api/test/functional/technology.spec.js
  packages/web/components/Form/FormWizard.js
  packages/web/components/Form/SelectField.js
  packages/web/components/Form/styles.js
  packages/web/components/TechnologyForm/AboutTechnology.js
  packages/web/components/TechnologyForm/Review/index.js
  packages/web/pages/technology/[id]/edit.js
  packages/web/services/__tests__/technology.js
  packages/web/services/technology.js
  packages/web/utils/technology.js
Labels: API, WEB, comp:technologies

#737 Researcher Database Feature
  packages/api/app/Controllers/Http/ResearcherController.js
  packages/api/app/Controllers/Http/UserController.js
  packages/api/app/Models/KnowledgeArea.js
  packages/api/app/Models/Traits/Params.js
  packages/api/app/Models/User.js
  packages/api/app/Validators/UpdateUser.js
  packages/api/app/Validators/User.js
  packages/api/config/researcher.js
  packages/api/database/migrations/1609680795863_user_researcher_property_schema.js
  packages/api/database/migrations/1610487600278_user_area_schema.js
  packages/api/start/routes/index.js
  packages/api/start/routes/researchers.js
  packages/api/start/routes/users.js
  packages/api/test/functional/researcher.spec.js
Labels: API

#736 Technical Assistance Feature
  packages/api/app/Controllers/Http/ServiceController.js
  packages/api/app/Models/Permission.js
  packages/api/app/Models/Service.js
  packages/api/app/Models/ServiceOrder.js
  packages/api/app/Models/ServiceOrderReview.js
  packages/api/app/Models/Traits/Params.js
  packages/api/app/Models/User.js
  packages/api/app/Utils/errors.js
  packages/api/app/Utils/roles_capabilities.js
  packages/api/app/Utils/statuses.js
  packages/api/app/Validators/StoreService.js
  packages/api/app/Validators/StoreServiceOrder.js
  packages/api/app/Validators/StoreServiceOrderReview.js
  packages/api/app/Validators/UpdateService.js
  packages/api/database/factory.js
  packages/api/database/migrations/1609623678087_service_schema.js
  packages/api/database/migrations/1609624457638_service_term_schema.js
  packages/api/database/migrations/1609798319509_service_order_schema.js
  packages/api/database/migrations/1610472436267_service_order_review_schema.js
  packages/api/database/seeds/06_PermissionSeeder.js
  packages/api/resources/locales/en/error.json
  packages/api/resources/locales/en/message.json
  packages/api/resources/locales/pt/error.json
  packages/api/resources/locales/pt/message.json
  packages/api/resources/views/emails/service-requested.edge
  packages/api/start/routes/index.js
  packages/api/start/routes/services.js
  packages/api/test/functional/service.spec.js
Labels: API

#747 Atualizando instituição no admin
  packages/admin/src/pages/institutions/Form/index.js
Labels: ADMIN

#749 Updates curation process
  packages/api/app/Controllers/Http/ReviewerController.js
  packages/api/app/Models/Reviewer.js
  packages/api/app/Models/Term.js
  packages/api/app/Models/Traits/Params.js
  packages/api/app/Utils/technology_distribution.js
  packages/api/app/Validators/StoreReviewer.js
  packages/api/database/migrations/1598815074640_reviewer_category_schema.js
  packages/api/database/migrations/1610726469615_drop_reviewer_category_schema.js
  packages/api/start/routes/reviewers.js
  packages/api/test/functional/disclaimers.spec.js
  packages/api/test/functional/reviewer.spec.js
  packages/api/test/functional/technology-distribution.spec.js
Labels: API, comp:curation

#757 Integrate user orders and chat
  packages/api/app/Controllers/Http/AuthController.js
  packages/api/app/Controllers/Http/TechnologyOrderController.js
  packages/api/start/routes/technologyOrders.js
  packages/web/components/OrderMessages/index.js
  packages/web/pages/_app.js
  packages/web/pages/user/my-account/my-orders.js
Labels: API, WEB, improvements

#756 Feature technology history change
  packages/api/app/Controllers/Http/TechnologyController.js
  packages/api/app/Models/ReviewerTechnologyHistory.js
  packages/api/app/Models/Traits/Params.js
  packages/api/app/Utils/statuses.js
  packages/api/app/Utils/technology_distribution.js
  packages/api/database/migrations/1610801489460_reviewer_technology_history_schema.js
  packages/api/start/routes/technologies.js
  packages/api/test/functional/technology-order.spec.js
  packages/api/test/functional/technology.spec.js
Labels: API, comp:technologies

#754 Atualizar campos de tecnologias em ADMIN
  packages/admin/package-lock.json
  packages/admin/package.json
  packages/admin/src/components/Technology/KnowledgeAreaInput.js
  packages/admin/src/components/Technology/TechnologyFilterBar.js
  packages/admin/src/components/index.js
  packages/admin/src/pages/technologies/Form/AboutForm.js
  packages/admin/src/providers/dataProvider.js
  packages/web/components/TechnologyForm/Review/__tests__/__snapshots__/index.js.snap
Labels: ADMIN

#761 Index Services Bank in Algolia
  packages/api/app/Commands/AlgoliaIndex.js
  packages/api/app/Controllers/Http/IdeaController.js
  packages/api/app/Controllers/Http/ServiceController.js
  packages/api/app/Models/Service.js
  packages/api/app/Utils/Algolia/indexes/index.js
  packages/api/app/Utils/Algolia/indexes/service.js
  packages/api/config/algolia.js
  packages/api/database/seeds/16_ServiceSeeder.js
  packages/api/test/functional/idea.spec.js
  packages/api/test/functional/service.spec.js
Labels: API, comp:search, enhancement, improvements

#767 Index announcements in Algolia
  packages/api/app/Commands/AlgoliaIndex.js
  packages/api/app/Controllers/Http/AnnouncementController.js
  packages/api/app/Models/Announcement.js
  packages/api/app/Utils/Algolia/indexes/announcement.js
  packages/api/app/Utils/Algolia/indexes/idea.js
  packages/api/app/Utils/Algolia/indexes/index.js
  packages/api/app/Utils/Algolia/indexes/service.js
  packages/api/config/algolia.js
  packages/api/database/factory.js
  packages/api/database/seeds/14_AnnouncementSeeder.js
  packages/api/test/functional/announcement.spec.js
Labels: API, comp:search, enhancement

#773 Disable EN language
  packages/web/utils/i18n.js
Labels: WEB, improvements

#772 Embed youtube videos in technology details page
  packages/web/__tests__/pages/t/__snapshots__/index.js.snap
  packages/web/components/Modal/IframeModal/index.js
  packages/web/components/Modal/IframeModal/styles.js
  packages/web/components/Modal/ModalProvider.js
  packages/web/components/Technology/Details/Videos.js
Labels: WEB, improvements

#759 Updates mandatory user check fields
  packages/api/app/Controllers/Http/AuthController.js
  packages/api/app/Controllers/Http/ServiceController.js
  packages/api/app/Middleware/RegistrationCompleted.js
  packages/api/app/Models/User.js
  packages/api/database/seeds/01_KnowledgeAreaSeeder.js
  packages/api/database/seeds/04_UserSeeder.js
  packages/api/package.json
  packages/api/resources/locales/en/error.json
  packages/api/resources/locales/pt/error.json
  packages/api/start/routes/announcements.js
  packages/api/start/routes/ideas.js
  packages/api/start/routes/institutions.js
  packages/api/start/routes/reviewers.js
  packages/api/start/routes/services.js
  packages/api/start/routes/technologies.js
  packages/api/start/routes/technologyOrders.js
  packages/api/start/routes/technologyQuestions.js
  packages/api/start/routes/technologyReviews.js
  packages/api/start/routes/users.js
  packages/api/test/functional/technology.spec.js
  packages/api/test/functional/user-fields-checking.spec.js
  packages/api/test/functional/user.spec.js
  packages/api/test/utils/Suts.js
Labels: API, comp:users

#694 Aba de revisão nas tecnologias do ADMIN
  packages/admin/src/components/StatusForm/index.js
  packages/admin/src/pages/technologies/Form/ReviewersForm.js
  packages/admin/src/pages/technologies/Form/Revisions.js
  packages/admin/src/pages/technologies/Form/index.js
  packages/api/app/Controllers/Http/ReviewerController.js
  packages/api/app/Controllers/Http/TechnologyController.js
  packages/api/database/factory.js
  packages/api/database/seeds/05_TechnologySeeder.js
  packages/api/test/functional/technology.spec.js
Labels: ADMIN, API, comp:technologies

#770 Set upload limit to 5mb
  packages/api/config/upload.js
  packages/api/start/routes/uploads.js
Labels: API, URGENT

#781 Atualizar Instituição no ADMIN
  packages/admin/src/components/UploadInput.js
  packages/admin/src/components/index.js
  packages/admin/src/pages/institutions/Form/index.js
  packages/admin/src/pages/technologies/Form/AboutForm.js
  packages/admin/src/pages/users/Form/AboutForm.js
  packages/admin/src/providers/dataProvider.js
  packages/api/app/Middleware/UploadAuthorization.js
Labels: ADMIN
